@import "variables.scss";

#contentsMainEverything{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.index {
    width: auto;
    margin: auto;
    padding: 1em;
    padding-left: 0.5em;
    --fullHeight: calc(var(--vh) * 85.5 / 100);
}

.filterBalken {
    max-height: var(--fullHeight);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0.5em;
        background-color: $contrastBuddy;
        border-radius: $borderRadius;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $special;
        border-radius: $borderRadius;
    }
}

.res {
    display: flex;
    flex-direction: column;
}

.indexTitle {
    margin: 0 0 1em 0;
    font-weight: bold;
    font-size: $bigTitle;
}

.calender {
    width: 100%;
    display: flex;
}

.calenderVision {
    padding: 0em 1em;
}

calDauer{
    font-style: italic;
    margin-right: 0.5em;
}

.detailRecLineTitle{
    border-top: 1px solid $light;
    border-radius: $borderRadius;
}

calDatum{
    font-weight: bold;
    font-size: 1.25em;
}

calRecNumber{
    font-weight: bold;
    font-size: 3em;
}

.detailedVision {
    background-color: $contrastBuddy;
    border-radius: $borderRadius;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0;
    max-height: calc(var(--vh) * 41.5 / 100);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--contrastBuddy);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--special);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.resUnten {
    display:flex;
    padding:0.5em;
    border-radius: $borderRadius;
    margin-top: auto;
}

.li {
    padding: 10px;
    width: 22%; 
    background-color: $special;
    border-radius: $borderRadius;
    height: calc( var(--fullHeight) - 20px);
}

.dropdownsLists{
  max-height: 87.5%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.5em;
        margin-left: 0.5em;
    }

    &::-webkit-scrollbar-track {
        background-color: $special;
        border-radius: $borderRadius;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $contrastBuddy;
        border-radius: $borderRadius;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}
.listLine {
    margin-bottom: 1.5em;
    border: 1.5px solid $light;
    border-radius: $borderRadius;
}
#buttonWrapper{
    margin-right: 1em;
}

.schnellFilter {
    background-color: $contrastBuddy;
    border-radius: $borderRadius;
    border: $borderTransparent;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    outline: none;
    border: none;
    cursor: pointer;
    color: $light;
    width: 100%;
    transition: .3s ease;
    width: 10vw;
    padding: 0.5em;

    &:hover {
        z-index: 1;
        background-color: $special;
        transform: scale(1.05);
    }

    img{
        width: 40%;
    }
}

listName {
    font-weight: bold;      
    font-size: $h3;
}

.lists{
    transition: background-color .3s ease, outline .2s ease;
}

.lists:hover {
    outline: 5px solid $contrastMain;
    border-radius: $borderRadius;
    background-color:$contrastMain;
}

.listTitleLine {
    border: 1.5px solid $light;
    width: 100%;
    border-radius: $borderRadius;
}

.lists button{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: $borderRadius;
    transition: .3s ease;

    &:hover{
        transform: scale(1.5);
    }
}

.editLists{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: var(--borderRadius);

    &:hover{
        background-color: var(--contrastMain);
    }
}

/* Dropdown style grob mit minianimation */
.dropdown-content {
  /* Animation-Einstellungen */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease-out, opacity 0.3s ease-out;
    margin: 7.5px 0 0 0;
}

.dropdown.open .dropdown-content {
    max-height: 1000px;
    opacity: 1;
}
.listComplete{
    margin: 10px 5px;
}

.checkboxLists {
    display: none; 
}


.checkboxLists + label {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-left: 30px; 
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;
}

.checkboxLists + label::before {
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: $borderMain;
    background-color: $contrastMain;
    border-radius: $borderRadius;
    transition: background-color 0.2s, border-color 0.2s;
}
 
.checkboxLists:checked + label::before {
    background-color: $contrastBuddy;
    border-color: $contrastBuddy;
}
 
.checkboxLists:checked + label::after {
  content: '';
    position: absolute;
    left: 4px;
    top: 3px; 
    width: 10px; 
    height: 6px; 
    border-left: $borderLight;
    border-bottom: $borderLight;
    transform: rotate(-45deg); 
    transition: background-color 0.2s;
}

/* Hover-Effekt für das Label */
.checkboxLists + label:hover {
    color: $contrastBuddy;
}

/* Fokus-Effekt für Barrierefreiheit */
.checkboxLists:focus + label::before {
    outline: $borderLight;
}

.stars{
    width: 80%; 
}
recUser{
    font-style: italic;
}
tableTitle{
    font-weight: bold;
    font-size: $h3;
    margin-bottom: 1em;
}

table{
    table-layout: auto;
    border-collapse:collapse;
    width: 30vw;
}
td {
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

recname {
    font-weight: bold;
    font-size: 18px;
}

tr{
    transition: .3s ease;
    margin-left: 1em;
}

tr:nth-child(even) {
    background-color: $contrastMain
}

tr:nth-child(odd) {
    background-color: $contrastBuddy;
}

th:first-child, td:first-child {
    border-top-left-radius: $roundBorder;
    border-bottom-left-radius: $roundBorder;
}

th:last-child, td:last-child {
    border-top-right-radius: $roundBorder;;
    border-bottom-right-radius: $roundBorder;
}

tr:hover {
    background-color: $special;
    cursor: pointer;
}

.actionImg{
    width: 6vw;
    outline:none;
}
.action{
    background-color:$contrastMain;
    border:none;
    width: 10vw; 
    border-radius: $borderRadius;
    bottom: 0;

    &:hover{
        background-color:$special;
        cursor:pointer;
        transition: transform 0.3s ease;
        outline:none;
    }
}

.nextRecipes{
    padding: 10px;
    width: calc(var(--vw) * 7 / 100); 
    border-radius: $borderRadius;
    background-color: $contrastBuddy;
    display: none;

    &:hover{
        background-color: $special;
        cursor: pointer;
    }
}

detailRecName{
    margin: 0.5em 0;
    font-size: $h4;
}
detailRecDauer{
    font-style: italic;
    font-size: $h4;
}
#detViewCalDatum{
    font-weight: bold;
    font-size: $h3;
}
.detailRec{
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover{
        background-color: $special;
        border-radius: $borderRadius;
    }
}

.tableDiv{
  max-height: 50%;
}
.tableDiv::-webkit-scrollbar {
  width: 5px;
}

.tableDiv::-webkit-scrollbar-track {
  background-color: var(--contrastMain);
  
  border-radius: 5px;
}

.tableDiv::-webkit-scrollbar-thumb {
  background-color: var(--special);
  border-radius: 5px;
}

.tableDiv::-webkit-scrollbar-corner {
  background-color: transparent;
}

#filOptionPage{
  width: calc(var(--vw) * 50 / 100); 
  position: absolute;
  top: calc(var(--vh) * 25 / 100);
  left: calc(var(--vw) * 25 / 100);
  z-index: 1;
  background-color: var(--special);
  border-radius: var(--borderRadius);
}

.responseAddListOk{
  background-color: var(--special);
  border-radius: var(--borderRadius);
  padding: 10px;
  display: none;
}

.responseAddListNotOk{
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    width: 30%;
    height: 5%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

/* Container für das Dropdown */
select {
  -webkit-appearance: none;  
  appearance: none;  
  width: calc(var(--vw) * 10 / 100); 
  padding: 5px 10px;  
  border-radius: var(--borderRadius);
  border: var(--borderMain);  
  background-color: var(--contrastMain);
  color: var(--light); 
  cursor: pointer; 
  transition: border-color 0.3s ease, background-color 0.3s ease;
}


select:focus {
  border-color: var(--special); ;  
  outline: none;
}

select::-ms-expand {
  display: none;  
}

option {
  font-family: "Be Vietnam Pro", serif;
  font-weight: 400;
  font-size: 14px;
}

option:hover {
  background-color: var(--light); 
  color: var(--contrastMain);
  border-radius: var(--borderRadius);
}

select[multiple] {
  height: 200px;
  width: calc(var(--vw) * 10 / 100); 
  overflow-y: none;
}

select[multiple] option {
  padding: 5px;
}

select[multiple]:focus {
  border-color: var(--contrastBuddy);  
}
select[multiple]::-webkit-scrollbar {
  display: none;  
}

option:checked {
  background-color: var(--contrastBuddy);
  color: var(--light);
  border-radius: var(--borderRadius);
}
.verticalLine{
  border-left: 2px solid var(--contrastMain);
  border-radius: var(--borderRadius);
  margin-right:2%;
}

.paddingOther{
  padding: 0 10px 10px 10px;
}

.inputLists{
  width: calc(var(--vw) * 7.5 / 100);
  font-size: 16px;
  margin-right: 10px;
}

.widthDreiSiebenFuenf{
  width: calc(var(--vw) * 3.75 / 100);
}
button{
  color: var(--light);
  font-size: 16px;
}