header {
    background-color: var(--contrastBuddy);
    color: var(--light);
    margin: 0;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo{
    height: 10vh;
    margin-right: 10px;
}

.leftSide{
    margin-right: auto;
}


.navigation {
    height: 8vh;
    margin: 10px 0 10px 40px;
}