.index {
  width: auto;
  height: var(--fullHeight);
  margin: auto;
  padding: 10px;
  --fullHeight: 85.5vh;
}

.filterBalken {
  border-radius: var(--borderRadius);
  max-height: var(--fullHeight);
  overflow-y: scroll;
}
.filterBalken::-webkit-scrollbar {
  width: 5px;
}

.filterBalken::-webkit-scrollbar-track {
  background-color: var(--contrastBuddy);
  border-radius: 5px;
}

.filterBalken::-webkit-scrollbar-thumb {
  background-color: var(--special);
  border-radius: 5px;
}

.filterBalken::-webkit-scrollbar-corner {
  background-color: transparent;
}
.res {
  display: flex;
  height: var(--fullHeight);
  flex-direction: column; 
  height: var(--fullHeight); 
}

.resOben {
  /*padding: 10px;*/
  border-radius: var(--borderRadius);
}

.recipes {
  display: flex;
}

.calender {
  width: 26.5vw;
  display: flex;
  border-radius: var(--borderRadius);
}

.calenderVision {
  margin: 0 0 10px 0;
}

calDauer{
  font-style: italic;
  margin-right: 5px;
}

.detailRecLineTitle{
  width: 99%;
  border-top: solid 1.5px var(--light);
  border-radius: var(--borderRadius);
}

calDatum{
  font-weight: bold;
  margin-left: 5px;
  font-size: 20px;
}

calRecNumber{
  font-weight: bold;
  font-size: 50px;
}

.detailedVision {
  background-color: var(--contrastBuddy);
  border-radius: var(--borderRadius);
  padding: 10px ;
  max-height: 43.7vh;
  overflow-y: auto;
}

.resUnten {
  display:flex;
  padding:10px;
  border-radius: var(--borderRadius);
  margin-top: auto;
}

/* Styling für den unteren Bereich der Seite */
.li {
  padding: 10px;
  width: 22vw;
  background-color: var(--special);
  border-radius: var(--borderRadius);
  height: calc( var(--fullHeight) - 20px);
  overflow-y: auto;
}

.listLine {
  margin-bottom: 20px;
  border: 1.5px solid var(--light);
  border-radius: var(--borderRadius);
}
.schnellFilter {
  background-color: var(--contrastBuddy);
  border-radius: var(--borderRadius);
  margin: 0 10px 10px 0;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--light);
  width: 10vw;
}
.schnellFilter:hover {
  background-color: var(--special);
}
.schnellFilterImg {
  width: 4vw;
}

listName {
  font-weight: bold;
  font-size: 18px;
}
.lists:hover {
  outline: 5px solid var(--contrastMain);
  border-radius: var(--borderRadius);
  background-color: var(--contrastMain);
}

.listTitleLine {
  border: 1.5px solid var(--light);
  width: 100%;
  border-radius: var(--borderRadius);
}

.lists button{
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--borderRadius);
}
.lists button:hover{
  background-color: var(--special);
}
.editLists{
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--borderRadius);
}
.editLists:hover{
  background-color: var(--contrastMain);
}

/* Dropdown style grob mit minianimation */
.dropdown-content {
  /* Animation-Einstellungen */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease-out, opacity 0.3s ease-out;
  margin: 7.5px 0 0 0;
}

.dropdown.open .dropdown-content {
  max-height: 1000px;
  opacity: 1;
}
.listComplete{
  margin: 10px 5px;
}

.checkboxLists {
  display: none; 
}


.checkboxLists + label {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 30px; 
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
}

.checkboxLists + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 2px solid var(--contrastMain);
  background-color: var(--contrastMain);
  border-radius: var(--borderRadius);
  transition: background-color 0.2s, border-color 0.2s;
}
 
.checkboxLists:checked + label::before {
  background-color: var(--contrastBuddy);
  border-color: var(--contrastBuddy);
}
 
.checkboxLists:checked + label::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 3px; 
  width: 10px; 
  height: 6px; 
  border-left: 2px solid var(--light);
  border-bottom: 2px solid var(--light);
  transform: rotate(-45deg); 
  transition: background-color 0.2s;
}

/* Hover-Effekt für das Label */
.checkboxLists + label:hover {
  color: var(--contrastBuddy);
}

/* Fokus-Effekt für Barrierefreiheit */
.checkboxLists:focus + label::before {
  outline: 2px solid var(--light);
}

.stars{
  width: 8vw;
}
recUser{
  font-style: italic;
  font-size: regular;
}
tableTitle{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
table{
table-layout: auto;
border-collapse:collapse;
width: 32.5vw;
border-radius: var(--borderRadius);
}
td {
  padding: 12px 15px;
  text-align: left;
  vertical-align: middle;
}

recname {
  font-weight: bold;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: var(--contrastMain);
}

tr:nth-child(odd) {
  background-color: var(--contrastBuddy);
}

th:first-child, td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

th:last-child, td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
tr:hover {
  
  background-color: var(--special);
  cursor: pointer;
}

.actionImg{
  width: 6vw;
  outline:none;
}
.action{
  background-color:var(--contrastMain);
  border:none;
  width: 10vw;
  border-radius: var(--borderRadius);
  color: var(--light);
  bottom: 0;
  
}
.action:hover{
  background-color:var(--special);
  cursor:pointer;
  transition: transform 0.3s ease;
  outline:none;
}

kalenderTitel{
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 10px 0;
}
.nextRecipes{
  padding: 10px;
  width: 7vw;
  border-radius: var(--borderRadius);
  background-color: var(--contrastBuddy);
  display: none;
}

.nextRecipes:hover{
  background-color: var(--special);
  cursor: pointer;
}
.nextTwoRecs{
  display: flex;
  flex-direction: row;
  justify-content: start;
}



.li::-webkit-scrollbar {
  width: 5px;
}

.li::-webkit-scrollbar-track {
  background-color: var(--special);
  border-radius: 5px;
}

.li::-webkit-scrollbar-thumb {
  background-color: var(--contrastBuddy);
  border-radius: 5px;
}

.li::-webkit-scrollbar-corner {
  background-color: transparent;
}
detailRecName{
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
}
detailRecDauer{
  font-style: italic;
  font-size: 16px;
}
.detailRec{
  padding: 5px 5px;
  border-radius: var(--borderRadius);
}

.detailRec:hover{
  background-color: var(--special);
  border-radius: var(--borderRadius);
}

.detailedVision::-webkit-scrollbar {
  width: 5px;
}

.detailedVision::-webkit-scrollbar-track {
  background-color: var(--contrastBuddy);
  border-radius: 5px;
}

.detailedVision::-webkit-scrollbar-thumb {
  background-color: var(--special);
  border-radius: 5px;
}

.detailedVision::-webkit-scrollbar-corner {
  background-color: transparent;
}
.tableDiv{
  max-height: 63vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.tableDiv::-webkit-scrollbar {
  width: 5px;
}

.tableDiv::-webkit-scrollbar-track {
  background-color: var(--contrastMain);
  
  border-radius: 5px;
}

.tableDiv::-webkit-scrollbar-thumb {
  background-color: var(--special);
  border-radius: 5px;
}

.tableDiv::-webkit-scrollbar-corner {
  background-color: transparent;
}

#filOptionPage{
  width: 50vw;
  position: absolute;
  top: calc(50vh - 25vh);
  left: calc(50vw - 25vw);
  z-index: 1;
  background-color: var(--special);
  border-radius: var(--borderRadius);
}

filterTitle{
  font-weight: bold;
  font-size: 20px;
  }
.filterLine{
  border: 1.5px solid var(--light);
  border-radius: var(--borderRadius);
  margin: 10px 0;
  width: 100%;
}
.darkBg{
  display:none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.responseAddListOk{
  background-color: var(--special);
  border-radius: var(--borderRadius);
  padding: 10px;
}
.filter{
  background-color: var(--contrastBuddy);
  border-radius: var(--borderRadius);
  padding: 5px 10px;
  width: 50%;
}
.sliderText{
  font-style: italic;
  font-size: 10px;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 70%;
  height: 8px;  
  background: var(--contrastMain);
  border-radius: var(--borderRadius);
  outline: none;  
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;  
  appearance: none; 
  width: 20px;
  height: 20px;
  background: var(--contrastBuddy);
  border-radius: 50%;  
  cursor: pointer;
}


/* Container für das Dropdown */
select {
  -webkit-appearance: none;  
  appearance: none;  
  width: 10vw;
  padding: 5px 10px;  
  border-radius: var(--borderRadius);
  border: var(--borderMain);  
  background-color: var(--contrastMain);
  color: var(--light); 
  cursor: pointer; 
  transition: border-color 0.3s ease, background-color 0.3s ease;
}


select:focus {
  border-color: var(--special); ;  
  outline: none;
}

select::-ms-expand {
  display: none;  
}

option {
  font-family: "Be Vietnam Pro", serif;
  font-weight: 400;
  font-size: 14px;
}

option:hover {
  background-color: var(--light); 
  color: var(--contrastMain);
  border-radius: var(--borderRadius);
}

select[multiple] {
  height: 200px;
  width: 10vw;
  overflow-y: none;
}

select[multiple] option {
  padding: 5px;
}

select[multiple]:focus {
  border-color: var(--contrastBuddy);  
}
select[multiple]::-webkit-scrollbar {
  display: none;  
}
.sliderText{
  font-family: "Be Vietnam Pro", serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--light);
}
option:checked {
  background-color: var(--contrastBuddy);
  color: var(--light);
  border-radius: var(--borderRadius);
}
.verticalLine{
  border-left: 2px solid var(--contrastMain);
  border-radius: var(--borderRadius);
  margin-right:2%;
}

#filButSearchFinal{
  background-color: var(--contrastMain);
  border-radius: var(--borderRadius);
  border: none;
  outline: none;
  padding: 5px 10px;
  color: var(--light);
  font-family: "Be Vietnam Pro", serif;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#filButSearchFinal:hover{
  background-color: var(--contrastBuddy);
}
.closeFilter{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-left: auto;
  padding: 5px;
  cursor: pointer;
}
.closeFilter:hover{
  background-color: var(--contrastMain);
}


.filterHeader{
  width: 100%;
  margin: 0 5px;
}

.leer{
  width:25px;
  height: 25px;
  border-radius: 5px;
  margin-right: auto;
}