.index {
  width: auto;
  height: var(--fullHeight);
  margin: auto;
  padding: 10px;
  --fullHeight: 85.5vh;
}

.filterBalken {
  border-radius: var(--borderRadius);
  max-height: var(--fullHeight);
  overflow-y: scroll;
}
.filterBalken::-webkit-scrollbar {
  width: 5px;
}

.filterBalken::-webkit-scrollbar-track {
  background-color: var(--contrastBuddy);
  border-radius: 5px;
}

.filterBalken::-webkit-scrollbar-thumb {
  background-color: var(--special);
  border-radius: 5px;
}

.filterBalken::-webkit-scrollbar-corner {
  background-color: transparent;
}
.res {
  display: flex;
  background-color: red;
  height: var(--fullHeight);
}

.resOben {
  padding: 10px;
  border-radius: var(--borderRadius);
}

.recipes {
  display: flex;
}

.calender {
  display: flex;
  padding: 10px;
  border-radius: var(--borderRadius);
}

.calenderVision {
}

.detailedVision {
}

.resUnten {
  padding: 10px;
  border-radius: var(--borderRadius);
}

/* Styling für den unteren Bereich der Seite */
.li {
  padding: 10px;
  width: 22vw;
  background-color: var(--special);
  border-radius: var(--borderRadius);
  height: calc( var(--fullHeight) - 20px);
  overflow-y: auto;
}

.listLine {
  margin-bottom: 20px;
  border: 1.5px solid var(--light);
  border-radius: var(--borderRadius);
}
.schnellFilter {
  background-color: var(--contrastBuddy);
  border-radius: var(--borderRadius);
  margin: 0 10px 10px 0;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--light);
  width: 10vw;
}
.schnellFilter:hover {
  background-color: var(--special);
}
.schnellFilterImg {
  width: 4vw;
}

listName {
  font-weight: bold;
  font-size: 18px;
}
.lists:hover {
  outline: 5px solid var(--contrastMain);
  border-radius: var(--borderRadius);
  background-color: var(--contrastMain);
}

.listTitleLine {
  border: 1.5px solid var(--light);
  border-radius: var(--borderRadius);
}

.lists button{
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--borderRadius);
}
.lists button:hover{
  background-color: var(--special);
}
.editLists{
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--borderRadius);
}
.editLists:hover{
  background-color: var(--contrastMain);
}

/* Dropdown style grob mit minianimation */
.dropdown-content {
  /* Animation-Einstellungen */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease-out, opacity 0.3s ease-out;
}

.dropdown.open .dropdown-content {
  max-height: 1000px;
  opacity: 1;
}
.listComplete{
  margin: 10px 5px;
}

.checkboxbox + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}
 
.checkboxbox {
  display: none;
}
 
.checkboxbox + label::before {
  content: '';
  position: relative;
  margin: 0 5px 0 0;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: var(--borderRadius);
  background-color: var(--contrastMain);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkboxbox:checked + label::before {
  background-color: var(--contrastBuddy);
}

.checkboxbox:checked + label::after {
  content: ':D';
  position: relative;
  color: var(--light);
}

/* Hover-Effekt für das Label */
.checkboxbox + label:hover {
  color: var(--contrastMain);
  transform: translateX(2px);
}