.mainCal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87.7vh;
}
.left {
    width: 18%;
    height: 100%;

}
.calMin {
    width: 64%;
    height: 100%;

}
.right {
    width: 18%;
    height: 100%;

}
.tabs {
    list-style: none;
    padding: 0;
}

.tab {
    background-color: var(--contrastMain);
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: var(--borderRadius);
}
.tab-content {
    display: none;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--contrastBuddy);
    border-radius: 5px;
    color: var(--light);
}
.tab-content:hover{
    background-color: var(--special);
}

.tab.active .tab-content {
    display: block;
}
.left-lower {
    height: 100%;
    overflow-y: auto;
}
table {
    width: 94%; /* Nimmt die gesamte Breite ein */
    height: 80%; /* Nimmt die gesamte Höhe ein */
    border-collapse: collapse; /* Entfernt Abstände zwischen den Zellen */
    margin: 0 auto; /* Zentriert die Tabelle */
}

td {
    width: 14.28%; /* Jede Zelle nimmt 1/7 der Breite ein */
    height: 100px; /* Höhe der Zellen */
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black; /* Dünner schwarzer Rand um jede Zelle */
}

.cell {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.overCal {
    height: 8%;
    width: 100%;
    width: 94%;
    margin: 0 auto;
}
.underCal {
    height: 12%;
    width: 100%;

}
.head{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

}
.dropped {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.draggable {
    cursor: pointer;
}
.draggable[draggable="false"] {
cursor: not-allowed;
}
.dragging {
    opacity: 0.5;
}
.tooltip-container {
position: relative;
cursor: pointer;
}

.tooltip-container .tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}
.underCalMain {
    display: flex;
    flex-direction: row;
    height: 12%;
    width: 94%;
    margin: 0 auto;
}
h1{
    margin: 0;
}