header {
  background-color: var(--contrastBuddy);
  color: var(--light);
  margin: 0;
  padding: calc(var(--vh) * 1 / 100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: calc(var(--vh) * 10 / 100);
  margin-right: 10px;
}

.leftSide {
  margin-right: auto;
}

.navigation {
  height: calc(var(--vh) * 8 / 100);
  margin: 10px 0 10px 40px;
}

.filbut {
  background-color: transparent;
  border: none;
  border-radius: var(--borderRadius);
  margin: 0 10px;
  padding: 5px;
  color: var(--light);
  font-size: 15px;
}

.filbut:hover {
  background-color: var(--special);
}

#suchleiste {
  background-color: transparent;
  border: none;
  margin: 10px;
  padding: 5px;
  border-radius: var(--borderRadius);
  color: var(--light);
  font-size: 20px;
  font-weight: bold;
  width: 250px; 
  max-width: 700px;
  transition: width 0.1s ease;
}

#suchleiste::placeholder {
  color: var(--light);
  font-size: 20px;
  font-weight: bold;
}
#suchleiste:focus {
  background-color: var(--special);
  outline: none;
  border: none;
}

#suchleiste:focus::placeholder {
  color: transparent;
}
.weiter {
  height: 30px;
}
button{
  color: var(--light);
  font-size: 16px;
}