header{
    display: none;
}

.loginFields{
    background-color: var(--contrastBuddy);
    border-radius: var(--borderRadius);
    padding: 10px;
    margin: 10px;
    outline: transparent;
    transition: outline 0.1s ease-in-out;
}
.loginFields:hover{
    outline: var(--borderBuddy);
}
.logoLogin{
    height: calc(var(--vh) * 40 / 100);
    margin: 10px;
    }
liresTitelLogin{
    font-weight: var(--fatFont);
    font-size: var(--bigTitle);
    margin: 10px;
}
.buttonLogin{
    background-color: var(--light);
    color: var(--contrastBuddy);
    border: var(--borderLight);
    border-radius: var(--borderRadius);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.buttonLogin:hover{
    border: var(--borderFocus);
}
