$contrastMain: #782f8e;
$contrastBuddy: #4c0b4c;
$light: #caffee;
$special: #4f7fb0;
$error: #f03a47;

$borderRadius: 5px;
$roundBorder: 15px;

$borderBuddy: 2px solid $contrastBuddy;
$borderLight: 2px solid $light;
$borderFocus: 2px solid $special;
$borderMain: 2px solid $contrastMain;
$borderError: 2px solid $error;
$borderTransparent: 2px solid transparent;

$bigTitle: 2em;
$h3:1.25em;
$h4: 1.1em;