<h4>Zustand</h4>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="unverarbeitet" /><label
      for="unverarbeitet"
    ></label
    ><chckbx>Unverarbeitet</chckbx>
</div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="verarbeitet" /><label
      for="verarbeitet"
    ></label
    ><chckbx>Verarbeitet</chckbx>
</div>
<div class="empty"></div><div class="empty"></div>
<h4>Informationen</h4>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="glutenfrei" /><label
      for="glutenfrei"
    ></label
    ><chckbx>Glutenfrei</chckbx>
</div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="laktosefrei" /><label
      for="laktosefrei"
    ></label
    ><chckbx>Laktosefrei</chckbx>
</div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="vegan" /><label
      for="vegan"
    ></label
    ><chckbx>Vegan</chckbx>
</div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="vegetarisch" /><label
      for="vegetarisch"
    ></label
    ><chckbx>Vegetarisch</chckbx>d
</div>
<div class="empty"></div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="saisonal" /><label
      for="saisonal"
    ></label
    ><chckbx>Saisonal</chckbx>
</div>
<div class="empty"></div><div class="empty"></div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="regional" /><label
      for="regional"
    ></label
    ><chckbx>Regional</chckbx>
</div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="importiert" /><label
      for="importiert"
    ></label
    ><chckbx>Importiert</chckbx>
</div>
<div class="empty"></div>
<h4>Geschmack</h4>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="süß" /><label
      for="süß"
    ></label
    ><chckbx>Süß</chckbx>
</div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="sauer" /><label
      for="sauer"
    ></label
    ><chckbx>Sauer</chckbx>
</div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="salzig" /><label
      for="salzig"
    ></label
    ><chckbx>Salzig</chckbx>
</div>
<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="bitter" /><label
      for="bitter"
    ></label
    ><chckbx>Bitter</chckbx>
</div>