<h4>Produktart</h4>

<div class="chckbxalign">
    <input class="chckbxbx" type="checkbox" id="milchprodukt" /><label
      for="milchprodukt"
    ></label
    ><chckbx>Milchprodukt</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="fleischprodukt" /><label
    for="fleischprodukt"
  ></label
  ><chckbx>Fleischprodukt</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="fisch" /><label
    for="fisch"
  ></label
  ><chckbx>Fisch</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="gemüse" /><label
    for="gemüse"
  ></label
  ><chckbx>Gemüse</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="obst" /><label
    for="obst"
  ></label
  ><chckbx>Obst</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="getreide" /><label
    for="getreide"
  ></label
  ><chckbx>Getreide</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="hülsenfrüchte" /><label
    for="hülsenfrüchte"
  ></label
  ><chckbx>Hülsenfrüchte</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="nüsse" /><label
    for="nüsse"
  ></label
  ><chckbx>Nüsse</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="samen" /><label
    for="samen"
  ></label
  ><chckbx>Samen</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="gewürz" /><label
    for="gewürz"
  ></label
  ><chckbx>Gewürz</chckbx>
</div>

<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="kräuter" /><label
    for="kräuter"
  ></label
  ><chckbx>Kräuter</chckbx>
</div>

<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="flüssigkeit" /><label
    for="flüssigkeit"
  ></label
  ><chckbx>Flüssigkeit</chckbx>
</div>
<div class="empty"></div>
<h4>Zustand</h4>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="backware" /><label
    for="backware"
  ></label
  ><chckbx>Backware</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="gekühlt" /><label
    for="gekühlt"
  ></label
  ><chckbx>Gekühlt</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="gefroren" /><label
    for="gefroren"
  ></label
  ><chckbx>Gefroren</chckbx>
</div>
<div class="chckbxalign">
  <input class="chckbxbx" type="checkbox" id="konserviert" /><label
    for="konserviert"
  ></label
  ><chckbx>Konserviert</chckbx>
</div>