<tr class="week">
    <td><div class="head"></div><div class="cell"></div></td>
    <td><div class="head"></div><div class="cell"></div></td>
    <td><div class="head"></div><div class="cell"></div></td>
    <td><div class="head"></div><div class="cell"></div></td>
    <td><div class="head"></div><div class="cell"></div></td>
    <td><div class="head"></div><div class="cell"></div></td>
    <td><div class="head"></div><div class="cell"></div></td>
</tr>