<header class="header">
  <img
    class="logo"
    src="/img/oni.png"
    alt="Lires-Zwiebel"
    id="logo"
    onclick="redirectHome()"
  />
  <profileusrnm><%= usrnm %></profileusrnm>
  <input id="suchleiste" class="suchleiste" />
  <button id="filbut" class="filbut" onclick="filBut(); maxDauerInput()">
    <img src="/img/fil.png" alt="Filter" width="55px" />
  </button>
  <button class="hidden" id="admintools" onclick="openAdminTools()">Admintools</button>
  <input
    type="text"
    id="recTitle"
    class="recTitle"
    oninput="inputRecTitle()"
    placeholder="Titel des Rezepts"
  />
  <div class="recHeadInpList">
    <ul class="noList">
      <li class="headInpRow headInpRowOben">
        <h5>Zubereitungsdauer:</h5>
        <input class="zubDauInp" type="number" min="1" id="zubDauInp"/>
        <slidZubDaTxt>Minuten</slidZubDaTxt>
      </li>
      <li class="headInpRow">
        <h5>Arbeitsaufwand:</h5>
        <slidZubDaTxt>gering</slidZubDaTxt>
        <input
          class="aufwRange"
          type="range"
          min="1"
          max="5"
          value="2.5"
          id="aufwRange"
        />
        <slidZubDaTxt>hoch</slidZubDaTxt>
      </li>
    </ul>
  </div>
  <button class="recSave" onclick="collectAndSend()">Speichern</button>

  <nav>
    <ul class="navLinks">
      <li class="tooltipCal oR">
        <a href="link"></a>
        <img class="navpic" src="/img/cal.png" alt="Kochkalender" />
        <span class="tooltipCaltext">Kochen planen</span>
      </li>
      <li class="tooltipList oR" id="ListBut" onclick="listButclick()">
        <a href="link"></a>
        <img class="navpic" src="/img/lists.png" alt="Listen" />
        <span class="tooltipListtext"
          >Zutaten in Einkaufslisten zusammenfassen</span>
      </li>
      <usrnm id="accCreation">DD.MM.YYYY</usrnm>
      <li class="oR">
        <a href="link"></a>
        <usrnm id="usrnm"><%= usrnm %></usrnm>
      </li>
      <li class="tooltipProfil">
        <a href="link"></a>
        <img
          class="navpic2"
          src="/img/bsppb.png"
          alt="beispielhaftes Profilbild"
          onclick="redirectProfil()"
        />
        <span class="tooltipProfiltext">Zum Profil</span>
      </li>
    </ul>
  </nav>

</header>
<script src="/js/admintool.js"></script>