
<link rel="stylesheet" href="/css/v2/styleheader.css">
<header class="header">
<div class="kumpeln horizont spaceEvenly">
  <div class="kumpeln horizon leftSide">
    <img
      class="logo"
      src="/img/oni_v2.png"
      alt="Lires-Zwiebel"
      id="logo"
      onclick="redirectHome()"
    />

    <div class="kumpeln horizont">
      <input id="suchleiste"  class="transparent" placeholder="Suche nach Rezepten...">
      <button class="filbut stapeln zentrieren" alt="weiter" onclick="getCurrentSearchConfig()">
        <img class="weiter" height="30px" alt="weiter" src="/img/weiter.png">
        Suchen
      </button>
      <button id="filbut" class="filbut" onclick="filBut(); maxDauerInput()">
          <img src="/img/fil.png" alt="Filter" width="55px" />
      </button>
    </div>
  </div>

  <div class="kumpeln horizont">
    <img class="navigation" src="/img/admin.png" alt="admin tool" id="admintools"onclick="openAdminTools()">
    <img class="navigation" src="/img/cal.png" alt="Kochkalender" onclick="openCalView()"/>
    <img class="navigation" src="/img/lists.png" alt="Listen" onclick="openEditLists()"/>
    <div id="usrnm"><%= usrnm %></div>
    <img
          class="navigation"
          src="/img/bsppb.png"
          alt="beispielhaftes Profilbild"
          onclick="redirectProfil()"
        />
  </div>
</div>


</header>
<script src="/js/admintool.js"></script>