<option class="filDdHover" value="butter">Butter</option>
<option class="filDdHover" value="champignons">Champignons</option>
<option class="filDdHover" value="eier">Eier</option>
<option class="filDdHover" value="feta">Feta</option>
<option class="filDdHover" value="fisch">Fisch</option>
<option class="filDdHover" value="honig">Honig</option>
<option class="filDdHover" value="joghurt">Joghurt</option>
<option class="filDdHover" value="karotten">Karotten</option>
<option class="filDdHover" value="kartoffeln">Kartoffeln</option>
<option class="filDdHover" value="käse">Käse</option>
<option class="filDdHover" value="kichererbsen">Kichererbsen</option>
<option class="filDdHover" value="mehl">Mehl</option>
<option class="filDdHover" value="milch">Milch</option>
<option class="filDdHover" value="nudeln">Nudeln</option>
<option class="filDdHover" value="paprika">Paprika</option>
<option class="filDdHover" value="Reis">Reis</option>
<option class="filDdHover" value="sahne">Sahne</option>
<option class="filDdHover" value="spinat">Spinat</option>
<option class="filDdHover" value="tomaten">Tomaten</option>
<option class="filDdHover" value="zucchini">Zucchini</option>
<option class="filDdHover" value="zwiebeln">Zwiebeln</option>
