<div id="listArea" class="split splitRight ">
    <div class="li">
        <h2>Deine Listen</h2>
        <hr>
        <div class="dropdownsLists" id="dropdownsLists">

        </div>
    </div>
</div>    