<miniTitle>Art des Gerichts</miniTitle>
<div class="typeOfDish">
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="warm" /><label for="warm"></label>
    <chckbx>Warm</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="kalt" /><label for="kalt"></label>
    <chckbx>Kalt</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="vorspeise" /><label for="vorspeise"></label>
    <chckbx>Vorspeise</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="hptgrcht" /><label for="hptgrcht"></label>
    <chckbx>Hauptgericht</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="nchtsch" /><label for="nchtsch"></label>
    <chckbx>Nachtisch</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="blg" /><label for="blg"></label>
    <chckbx>Beilage</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="frstck" /><label for="frstck"></label>
    <chckbx>Frühstück</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="vgtrsch" /><label for="vgtrsch"></label>
    <chckbx>Vegetarisch</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="vgn" /><label for="vgn"></label>
    <chckbx>Vegan</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="flsch" /><label for="flsch"></label>
    <chckbx>Fleisch</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="fsch" /><label for="fsch"></label>
    <chckbx>Fisch</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="gms" /><label for="gms"></label>
    <chckbx>Gemüse</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="frcht" /><label for="frcht"></label>
    <chckbx>Früchte</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="gkcht" /><label for="gkcht"></label>
    <chckbx>Gekocht</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="gbrtn" /><label for="gbrtn"></label>
    <chckbx>Gebraten</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="gdnstt" /><label for="gdnstt"></label>
    <chckbx>Gedünstet</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="gbckn" /><label for="gbckn"></label>
    <chckbx>Gebacken</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="ubrbckn" /><label for="ubrbckn"></label>
    <chckbx>Überbacken</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="mrnrt" /><label for="mrnrt"></label>
    <chckbx>Mariniert</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <!--<div class="extrachckbxalign">-->
    <input class="chckbxbx" type="checkbox" id="frttrt" /><label for="frttrt"></label>
    <chckbx>Frittiert</chckbx>
  <!--</div>-->
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="hltbr" /><label for="hltbr"></label>
    <chckbx>Haltbar gemacht</chckbx>
  </div>
  <!--
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="gkcht" /><label for="gkcht"></label>
    <chckbx>Gekocht</chckbx>
  </div>
  -->
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="ndl" /><label for="ndl"></label>
    <chckbx>Nudelgerichte</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="brt" /><label for="brt"></label>
    <chckbx>Brot/Brötchen</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="aufstrch" /><label for="aufstrch"></label>
    <chckbx>Aufstrich</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="dips" /><label for="dips"></label>
    <chckbx>Soßen/Dips</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="spp" /><label for="spp"></label>
    <chckbx>Suppe</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="slt" /><label for="slt"></label>
    <chckbx>Salat</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="kchn" /><label for="kchn"></label>
    <chckbx>Kuchen</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="gbck" /><label for="gbck"></label>
    <chckbx>Gebäck</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="grtn" /><label for="grtn"></label>
    <chckbx>Überbacken/Gratiniert</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="knsrvrt" /><label for="knsrvrt"></label>
    <chckbx>Konserviert</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="suess" /><label for="suess"></label>
    <chckbx>Süß</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="hrzhft" /><label for="hrzhft"></label>
    <chckbx>Herzhaft</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="fngrfd" /><label for="fngrfd"></label>
    <chckbx>Fingerfood</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="fstlch" /><label for="fstlch"></label>
    <chckbx>Festlich</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="grlln" /><label for="grlln"></label>
    <chckbx>Grillen</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="kndr" /><label for="kndr"></label>
    <chckbx>Für Kinder</chckbx>
  </div>
  <div class="chckbxalign kumpeln alignLeft">
    <input class="chckbxbx" type="checkbox" id="gtrnk" /><label for="gtrnk"></label>
    <chckbx>Getränke</chckbx>
  </div>
</div>