<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styledesktop.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="icon" href="/img/oni.png" type="image/x-icon">
</head>
<script src="/js/preLoad.js"></script>
<body>
    <%- include('../partials/header.ejs') %>
    <%- body %>
</body>
    <script src="/js/script.js"></script>
    <script src="/js/redirecthome.js"></script>

</html>