<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gesammelte Rezepte von Familie und Freunden inklusive Einkaufslistenverwaltung">
        
    <title><%= title %></title>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "name": "Lires die Zwibel für alle Lebenslagen",
          "description": "Gesammelte Rezepte von Familie und Freunden inklusive Einkaufslistenverwaltung",
          "url": "https://lires.de"
        }
    </script>

    <link rel="stylesheet" href="/css/v2/stylemain.css">
    <!--<link rel="stylesheet" href="/css/styledesktop.css">
    <link rel="stylesheet" href="/css/slider.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/oni_v2.png" type="image/x-icon">
</head>
<script src="/js/preLoad.js"></script>
<body>
    <div class="loadingScreen" id="loadingScreen">
        <img src="/img/oni_v2.png" alt="eine kleine Süße Zwiebel" style="position: absolute; top: 20%; left: 35%; width: 30%; animation: rotate 2s linear infinite;">
    </div>
    <style>
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    </style>

    <div class="nonLoadingScreen" id="contentsMainEverything">  
        <%- include('../partials/header.ejs') %>
        <%- body %>
    </div>

</body>
    <script src="/js/script.js"></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        // Warte darauf, dass der Browser alles gerendert hat
        requestAnimationFrame(() => {
            setTimeout(() => {
                const listid = sessionStorage.getItem("openDropdownAfterReload");
                document.getElementById('contentsMainEverything').classList.remove('nonLoadingScreen');
                document.getElementById('loadingScreen').classList.add('hidden');
            }, 70); // 0ms Timeout gibt dem Browser Zeit für den finalen Paint
        });
    });
</script>
</html>