<link rel="stylesheet" href="/css/v2/styleaddrec.css" />

<div class="kumpeln all spaceBetween">
  <div class="left stapeln alignLeft">
    
    <input
      type="text"
      id="recTitle"
      class="recTitle"
      placeholder="Name des Rezepts"
    />

    <div class="kumpeln horizont">
      <miniTitle>Arbeitsaufwand:</miniTitle>
      gering
        <input
          class="aufwRange"
          type="range"
          min="1"
          max="5"
          value="2.5"
          id="aufwRange"
        />
        hoch
    </div>
    
    <div class="stapeln">
      <div class="kumpeln horizont">
        <miniTitle>Zubereitungsdauer:</miniTitle>
        <input class="dauer" type="number" min="1" id="zubDauInp"/>
        Minuten
      </div>
    </div>
    <hr class="line">
    <div class="mitGridZutaten">
      <table class="beinhTable" id="table1">
        <tr>
          <th class="moreWidth">Zutat</th>
          <th>Menge</th>
          <th>Einheit</th>
        </tr>
        <tr id="backfisch">
          <td><input id="tableInp11" class="tableInp" type="text"></td>
          <td><input id="tableInp12" class="tableInp" type="number"></td>
          <td><input id="tableInp13" class="tableInp" type="text"></td>
          <td><button class="deleteBtn" onclick="addTableRow()">Hinzufügen</button></td>
        </tr>
      </table>
    </div>
    <!--random hier reingepackt ich brauchs gerade nur-->
    <div >
      <zutAn
          >Zutatenangabe für
          <input
            type="number"
            min="1"
            max="100"
            placeholder="Anzahl (bspw. '2')"
            class="anzEinhInp"
            id="anzInp"
          />
          <input
            type="text"
            placeholder="Einheit (bspw. 'Portionen')"
            class="anzEinhInp"
            id="anzEinhInp"
          />.
        </zutAn>
    </div>
  </div>

  <div class="verticalLine"></div>

  <div class="mid stapeln">
    <textarea
      id="krzDesc"
      class="krzDesc"
      placeholder="Kurzbeschreibung (maximal 250 Zeichen)"
      maxlength="250"
      oninput="countChars()"
    ></textarea>
    <p id="charCount" class="charCount"></p>

    <div class="recSchritte kumpeln">
      <button class="chooseBtn" id="chooseBtn" onclick="chooseBtn()">Beschreibung als Fließtext</button>
      <button class="stepaddbtn" id="stepaddbtn" onclick="addstepp()">Schritt hinzufügen</button>
    </div>

    <textarea class="vorgehen hidden" placeholder="Vorgehen" id="explanation"></textarea>
    <div id="stepwise" class="stepwise">
      <textarea class="stepvorgehen" placeholder="Schritt 1" id="step_1"></textarea>
    </div>
  </div>

  <!--<div class="verticalLine"></div>-->

  <div class="right stapeln">
    <div class="recInfos stapeln">
        <input
          type="text"
          class="shoInfInp"
          placeholder="Kurzinformationen (bspw. Backtemperatur)"
          id="shoInfInp"
        />
        <div class="hidden" id="lbls">
        </div>
    </div>
    <div class="recTags">
    <div class="mitGridTags"><%- include('./partials/vieletags.ejs')%></div>
    </div>
    <div class="chefkoch kumpeln horizont" id="chefkoch-add-but">
      <input type="text" name="chefkochLink" id="chefkoch-link" class="chefkoch-link" placeholder="URL eines chefkoch-Rezeptes ab '/rezepte/...'">
      <button class="chefkoch-add-but" id="chefkoch-add-but" onclick="addChefkochRec()">Import von chefkoch.de</button>
    </div>
    <button class="recSave" onclick="collectAndSend()">Alles Speichern</button>
  </div>
</div>


<script src="/js/chefkochFetch.js"></script>
<script src="/js/addrec.js"></script>
<script src="/js/collectrecinfo.js"></script>
