<link rel="stylesheet" href="/css/v2/styleaddrec.css" />


<div class="kumpeln all spaceBetween">
  <div class="left stapeln alignLeft">
    <div class="kumpeln spaceBetween horizont">
      <input
        type="text"
        id="recTitle"
        class="recTitle"
        placeholder="Name des Rezepts"
      />
      <button id="chooseImport"class="chooseImport" onclick="chooseImport()">Rezept von Chefkoch importieren</button>
    </div>
      
    <div class="space20"></div>
    <div class="kumpeln horizont">
      <miniTitle>Arbeitsaufwand:</miniTitle>
      gering
        <input
          class="aufwRange"
          type="range"
          min="1"
          max="5"
          value="2.5"
          id="aufwRange"
        />
        hoch
    </div>
    
    <div class="stapeln">
      <div class="kumpeln horizont">
        <miniTitle>Zubereitungsdauer:</miniTitle>
        <input class="dauer" type="number" min="1" id="zubDauInp"/>
        Minuten
      </div>
    </div>

    <div class="space20"></div>
    <hr class="line">
    <div class="space20"></div>
    
    <div >
      Zutatenangabe für
      <input
        type="number"
        min="1"
        max="100"
        placeholder="Anzahl (bspw. '2')"
        class="anzEinhInp"
        id="anzInp"
      />
      <input
        type="text"
        placeholder="Einheit (bspw. 'Portionen')"
        class="anzEinhInp"
        id="anzEinhInp"
      />.
    </div>

    <div class="space20"></div>


    <div class="mitGridZutaten">
      <table class="beinhTable" id="table1">
        <tr>
          <th class="moreWidth">Zutat</th>
          <th>Menge</th>
          <th>Einheit</th>
        </tr>
        <tr class="buddyBg" id="backfisch">
          <td><input id="tableInp11" class="tableInp zutatInp" type="text"></td>
          <td><input id="tableInp12" class="tableInp" type="number"></td>
          <td><input id="tableInp13" class="tableInp einheitInp" type="text"></td>
          <td><button class="deleteBtn" onclick="addTableRow()">Hinzufügen</button></td>
        </tr>
      </table>
    </div>

    <div class="space20"></div>

    <div class="recInfos stapeln widthAchtUndNeunzig">
        <div class="kumpeln horizont spaceBetween">
          <input
            type="text"
            class="shoInfInp"
            placeholder="Kurzinformationen (bspw. Backtemperatur)"
            id="shoInfInp"
          />
          <button class="addBtn" id="addInfoBtn" onclick="addInfo()">Hinzufügen</button>
        </div>
        <div class="hidden" id="lbls">
        </div>
    </div>
  </div>

  <div class="space20"></div>
  <div class="verticalLine"></div>
  <div class="space20"></div>

  <div class="mid stapeln">
    <textarea
      id="krzDesc"
      class="krzDesc"
      placeholder="Kurzbeschreibung (maximal 250 Zeichen)"
      maxlength="250"
      oninput="countChars()"
    ></textarea>

    
  <div class="space20">
      <p id="charCount" class="charCount"></p>
  </div>
    

    <div class="recSchritte kumpeln">
      <button class="chooseBtn" id="chooseBtn" onclick="chooseBtn()">Beschreibung als Fließtext</button>
      <button class="stepaddbtn" id="stepaddbtn" onclick="addstepp()">Schritt hinzufügen</button>
    </div>

    <textarea class="vorgehen hidden" placeholder="Vorgehen" id="explanation"></textarea>
    <div id="stepwise" class="stepwise">
      <textarea class="stepvorgehen" placeholder="Schritt 1" id="step_1"></textarea>
    </div>
  </div>

  <!--<div class="verticalLine"></div>-->

  <div class="right stapeln">
    <div class="recTags">
    <div class="mitGridTags"><%- include('./partials/vieletags.ejs')%></div>
    </div>
    <button class="recSave" onclick="collectAndSend()">Alles Speichern</button>
  </div>
</div>

<div class="darkBg" id="darkBgChefkoch" style="display:none">
  <div class="stapeln contrastBg zentrieren width30vw floatMid" id="chefkoch-add-but">
      <div class="kumpeln horizont spaceBetween">
        <div class="widthSchliessen"></div
        <chefkochTitle>Importiere ein Rezept von chefkoch.de</chefkochTitle>
        <button class="closeChooseChefkoch" id="closeChooseChefkoch" onclick="importView()">Schließen</button>
      </div>
      <div><i>Kopiere dazu die URL eines chefkoch-Rezeptes ab '/rezepte/...' hier hinein:</i></div>
      <div class="space20"></div>
      <input type="text" name="chefkochLink" id="chefkoch-link" class="chefkoch-link" placeholder="URL">
      <button class="chefkoch-add-but" id="chefkoch-add-but" onclick="addChefkochRec()">Importieren</button>
  </div>
</div>
<%- include('./partials/darkBgWithFilter.ejs')%>

<script src="/js/chefkochFetch.js"></script>
<script src="/js/addrec.js"></script>
<script src="/js/collectrecinfo.js"></script>
