<link rel="stylesheet" href="/css/addresdesktop.css" />

<textarea
  id="krzDesc"
  class="krzDesc"
  placeholder="Kurzbeschreibung (maximal 250 Zeichen)"
  maxlength="250"
  oninput="countChars()"
></textarea>
<p id="charCount" class="charCount"></p>
<div class="row">
  <div class="addRecSplitLeft">
    <div class="mittelfeldGrid">
      <div class="mitGridEinheiten">
        <zutAn
          >Zutatenangabe für
          <input
            type="number"
            min="1"
            max="100"
            placeholder="Anzahl (bspw. '2')"
            class="anzEinhInp"
            id="anzInp"
          />
          <input
            type="text"
            placeholder="Einheit (bspw. 'Portionen')"
            class="anzEinhInp"
            id="anzEinhInp"
          />.
        </zutAn>
      </div>
      <div class="mitGridTags"><%- include('./partials/vieletags.ejs')%></div>
      <div class="mitGridShoInf">
        <input
          class="shoInfInp"
          placeholder="Kurzinformationen (bspw. Backtemperatur)"
          id="shoInfInp"
        />
        <div class="hidden" id="lbls">

        </div>
      </div>
    </div>
    <div class="mitGridChoose">
      <button class="chooseBtn" id="chooseBtn" onclick="chooseBtn()">Im Fließtext beschreiben</button>
      <button class="stepaddbtn hidden" id="stepaddbtn" onclick="addstepp()">Schritt hinzufügen</button>
    </div>
  </div>
  <div class="addRecSplitRight">
    <div class="mitGridZutaten">
      <table class="beinhTable" id="table1">
        <tr>
          <th class="moreWidth">Zutat</th>
          <th>Menge</th>
          <th>Einheit</th>
        </tr>
        <tr id="backfisch">
          <td><input id="tableInp11" class="tableInp"></input></td>
          <td><input id="tableInp12" class="tableInp" type="number"></input></td>
          <td><input id="tableInp13" class="tableInp"></input></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<textarea class="vorgehen" placeholder="Vorgehen" id="explanation"></textarea>
<div id="stepwise" class="stepwise hidden">
  <textarea class="stepvorgehen" placeholder="Schritt 1" id="step_1"></textarea>
</div>
<script src="/js/addrec.js"></script>
<script src="/js/collectrecinfo.js"></script>
