<link rel="stylesheet" href="/css/addresdesktop.css">
<input>
<div>
    <div>
        <p>Zutatenangabe für <input> <input>.</p>
    </div>
    <div>
        <table>
            <tr>
                <th>Zutat</th>
                <th>Menge</th>
            </tr>
        </table>
    </div>
    <div>
        <button>Im Fließtext beschreiben</button>
        <button>Schrittweise beschreiben</button>
    </div>
    <div>
        <h3>Art des Gerichts</h3>
        <input>
    </div>
    <div>
        <input>
    </div>
</div>
<input>