<script src="/js/reportScript.js"></script>
<style>
    .dse{
        margin: 10px calc(var(--vw)*15/100);
        padding: 10px;
        background-color: var(--special);
        border-radius: var(--borderRadius);
    }
    a{
        color: var(--contrastMain);
        text-decoration: underline;
    }
    a:hover{
        color: var(--contrastBuddy);
    }
</style>
<div class="dse">
    <h1>Datenschutzerklärung</h1>
    <i>Zuletzt aktualisiert am 16. Juni 2025</i>
    <ol>
        <li><a href="#wasTun">Was tun wir?</a></li>
        <li><a href="#definitionen">Begriffsdefinitionen</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
        <li><a href="#datensicherheit">Datensicherheit</a></li>
        <li><a href="#rechte">Betroffenenrechte</a></li>
        <li><a href="#grundsaetze">Allgemeine Grundsätze</a></li>
        <li><a href="#datenverarbeitung">Einzelne Datenverarbeitungsvorgänge</a></li>
        <li><a href="#immerGleich">Bleibt unsere Datenschutzerklärung immer gleich?</a></li>
    </ol>

    <h2 id="wasTun">1. Was tun wir?</h2>
    Benjamin Keppler (Brodkorbweg 54, 87435 Kempten) betreibt die Website lires.de (nachfolgend als «wir» bezeichnet). <br>
    Der Schutz Ihrer persönlichen Daten ist uns ein grosses Anliegen. Wir informieren Sie in dieser Datenschutzerklärung transparent und verständlich darüber, welche Daten wir über unsere Website sammeln und wie wir damit umgehen.<br>
    
    <h2 id="definitionen">2. Begriffsdefinitionen</h2>
    <b>Was sind personenbezogene Daten?</b><br>
    Personenbezogene Daten (gleichbedeutend mit dem Begriff «Personendaten») sind alle Angaben, die sich auf eine bestimmte oder bestimmbare natürliche Person beziehen. Dazu gehören beispielsweise Name, Adresse, Geburtsdatum, E-Mail-Adresse oder Telefonnummer sowie die IP-Adresse. Auch Daten über persönliche Vorlieben wie Freizeitbeschäftigungen oder Mitgliedschaften zählen zu den personenbezogenen Daten.<br><br>
    
    <b>Was ist das Verarbeiten von personenbezogenen Daten?</b><br>
    Verarbeiten (gleichbedeutend mit dem Begriff «Bearbeiten») ist jeder Umgang mit personenbezogenen Daten, unabhängig von den angewandten Mitteln und Verfahren, insbesondere das Beschaffen, Speichern, Aufbewahren, Verwenden, Verändern, Bekanntgeben, Archivieren, Löschen oder Vernichten von personenbezogenen Daten.<br><br>  

    <b>Was ist das Bekanntgeben von personenbezogenen Daten?</b><br>
    Dies ist das Übermitteln oder Zugänglichmachen von personenbezogenen Daten, bspw. die Veröffentlichung oder die Offenbarung an einen Dritten.

    <h2 id="kontakt">3. Kontakt</h2>
    Bei Fragen oder Anliegen zum Schutz Ihrer Daten durch uns, können Sie sich an unseren Datenschutzverantwortlichen wenden:<br>
    <div class="kumpeln alignLeft">
        <div class="paddingZehn">
            <b>Anschrift:<br></b>
                Benjamin Keppler<br>
                Brodkorbweg 54<br>
                87435 Kempten<br>
                Deutschland<br>
        </div>
        <div class="paddingZehn">
            <b>Erreichbarkeit:<br></b>
                team@lires.de<br>
        </div>
    </div>

    <b><br>Zuständige Aufsichtsbehörde</b><br>
    Bayrisches Landesamt für Datenschutzaufsicht (BayLDA)<br>
    <div class="kumpeln alignLeft">
        <div class="paddingZehn">
        <b>Hausanschrift:<br></b>
            Promenade 18<br>
            91522 Ansbach<br>
            Deutschland<br>
        </div>
        <div class="paddingZehn">
        <b>Postanschrift:<br></b>
            Postfach 1349<br>
            91504 Ansbach<br>
            Deutschland<br>
        </div>
    </div>
    <h2 id="datensicherheit">4. Datensicherheit</h2>
    Wir werden Ihre Daten sicher aufbewahren und alle angemessenen Massnahmen ergreifen, 
    um Ihre Daten vor Verlust, Zugriff, Missbrauch oder Änderungen zu schützen.<br>
    Unsere Vertragspartner und Mitarbeitenden, die Zugang zu Ihren Daten haben, sind zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet. 
    In manchen Fällen wird es im Rahmen der Auftragsverarbeitung erforderlich sein, dass wir Ihre Anfragen an auftragsverarbeitende Unternehmen im Rahmen eines 
    Auftragsverarbeitungsverhältnis weiterreichen. 
    Auch in diesen Fällen werden Ihre Daten vertraulich behandelt.<br>
    Innerhalb unserer Webseite verwenden wir das SSL-Verfahren (Secure Socket Layer) in Verbindung mit der jeweils höchsten Verschlüsselungsstufe, die von 
    Ihrem Browser unterstützt wird.<br>

    <h2 id="rechte">5. Betroffenenrechte</h2>
    <b>Auskunftsrecht</b><br>
    Sie können jederzeit eine Auskunft, über die von uns über Sie gespeicherten Daten verlangen. 
    Wir bitten Sie, Ihr Auskunftsgesuch zusammen mit einem glaubhaften Identitätsnachweis an team@lires.de zu senden.<br>
    Die Auskunft erfolgt in Textform. 
    Stellen Sie den Auskunftsantrag elektronisch, stellen wir die Auskünfte in einem gängigen elektronischen Format zur Verfügung, sofern Sie nichts anderes angeben.<br>
    Die Auskunft ist im Regelfall unentgeltlich. Werden darüber hinaus Kopien angefordert, kann ein angemessenes Entgelt verlangt werden.<br>
    Das Recht eine Kopie über die verarbeiteten Daten zu erhalten, darf die Rechte und Freiheiten anderer Personen nicht beeinträchtigen.<br>
    Im Falle von offensichtlich unbegründeten oder exzessiven Auskunftsanträgen behalten wir uns vor, die Auskunft im Rahmen der gesetzlichen 
    Schranken zu verweigern oder ein angemessenes Entgelt dafür zu verlangen.<br>
    Die Bearbeitung Ihres Gesuchs unterliegt der gesetzlichen Frist von einem Monat. 
    Diese Frist dürfen wir aufgrund der Komplexität und der hohen Anzahl von Anfragen um zwei weitere Monate verlängern, 
    soweit dies erforderlich ist. Sie werden über die Fristverlängerung innerhalb eines Monats nach dem Stellen des Auskunftsgesuch informiert. 
    Zugleich werden Ihnen die Gründe für die Verlängerung genannt.<br><br>

    <b>Löschung und Berichtigung</b><br>
    Sie haben jederzeit die Möglichkeit, die Löschung oder Berichtigung bzw. Vervollständigung Ihrer Daten zu verlangen, sofern keine gesetzlichen Aufbewahrungspflichten oder ein gesetzlicher Erlaubnistatbestand entgegenstehen.<br>
    Bitte beachten Sie, dass die Ausübung Ihrer Rechte unter Umständen im Konflikt mit vertraglichen Vereinbarungen stehen und entsprechende Auswirkungen auf die Vertragsdurchführung haben kann (z.B. vorzeitige Vertragsauflösung oder Kostenfolgen).<br><br>

    <b>Einschränkung der Verarbeitung</b><br>
    Sie haben ausserdem das Recht, eine Einschränkung der Bearbeitung zu verlangen, wenn Sie die Richtigkeit dieser Daten bestreiten, die Verarbeitung unrechtmässig ist, die Daten nicht länger benötigt werden oder Sie Widerspruch gegen die Verarbeitung erhoben haben.<br>
    Wird die Verarbeitung der Daten eingeschränkt, dürfen diese nur noch gespeichert werden. Eine weitergehende Verarbeitung darf nur mit Ihrer Einwilligung, zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen, zum Schutz der Rechte einer anderen Person oder aus Gründen eines wichtigen öffentlichen Interesses erfolgen. Im Falle einer Aufhebung der Einschränkung werden Sie benachrichtigt.<br><br>

    <b>Recht auf Datenübertragbarkeit</b><br>
    Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns, dem die personenbezogenen Daten bereitgestellt wurden, zu übermitteln, sofern die Verarbeitung auf einer Einwilligung gemäß Artikel 6 Absatz 1 lit. a oder Artikel 9 Absatz 2 lit. a DSGVO oder auf einem Vertrag gemäß Artikel 6 Absatz 1 lit. b DSGVO beruht und die Verarbeitung mithilfe automatisierter Verfahren erfolgt. Sie haben ferner das Recht, zu verlangen, dass die personenbezogenen Daten direkt von uns einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist.<br><br>
    
    <b>Beschwerderecht</b><br>
    Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren.<br>

    <h2 id="grundsaetze">6. Allgemeine Grundsätze</h2>
    <b>Welche Daten verarbeiten wir von Ihnen und von wem erhalten wir diese Daten?</b><br>
    In erster Linie verarbeiten wir personenbezogene Daten, die Sie uns übermitteln oder die wir beim Betrieb unserer Website erheben. Unter Umständen erhalten wir personenbezogene Daten über Sie auch von Dritten. Das können folgende Kategorien sein:<br>
    <ul>
        <li>Nutzernamen;</li>
        <li>erstellte Listen;</li>
        <li>erstellte Rezepte;</li>
        <li>Freunde;</li>
        <li>Onlinekennungen (bspw. Cookie-Kennung, IP-Adressen);</li>
    </ul>

    <b>Unter welchen Voraussetzungen verarbeiten wir Ihre Daten?</b><br>
    Wir verarbeiten Ihre Daten im Einklang mit den geltenden Datenschutzgesetzen, insbesondere der DSGVO. Die Verarbeitung erfolgt jeweils zu den in dieser Datenschutzerklärung festgelegten Zwecken. Wir achten dabei auf Transparenz und Verhältnismäßigkeit.<br>
    Die Verarbeitung Ihrer Daten ist rechtmässig, sofern ein Erlaubnistatbestand der DSGVO erfüllt ist. Der Erlaubnistatbestand auf Basis dessen wir
    die oben genannten Daten sammeln, ist die Erfüllung eines Vertrages oder vorvertraglicher Massnahmen (Art. 6 Abs. 1 lit. b DSGVO).<br>
    Nur mithilfe dieser Daten können vertragliche Pflichten erfüllt werden.<br>
    Die Webseite kann nicht genutzt werden, wenn gewisse Angaben zur Sicherstellung des Datenverkehrs, wie Ihre IP-Adresse, nicht offengelegt werden.<br><br>

    <b>In welchen Fällen können wir Ihre Daten an Dritte weitergeben?</b><br>
    a. Grundsatz<br>
    <div class="paddingZehn">
        Wir sind unter Umständen darauf angewiesen, die Dienste Dritter oder von verbundenen Unternehmen in Anspruch zu nehmen und diese mit der Verarbeitung Ihrer Daten zu beauftragen (sog. Auftragsverarbeiter). 
        Kategorien der Empfänger sind namentlich: MongoDB. Dabei handelt es sich um einen Dienst, der im Rahmen eines Auftragsverarbeitungsverhältnis die Speicherung von Daten ermöglicht.
        Wir stellen sicher, dass diese Dritten und unsere verbundenen Unternehmen die Voraussetzungen des Datenschutzes einhalten und Ihre personenbezogenen Daten vertraulich behandeln.<br>
        Unter Umständen sind wir auch verpflichtet, Ihre personenbezogenen Daten an Behörden bekanntzugeben.<br><br>
    </div>

    b. Weitergabe ins Ausland<br>
    <div class="paddingZehn">
    Unter Umständen kann es im Rahmen der Auftragsbearbeitung zur Übermittlung Ihrer personenbezogenen Daten an Unternehmen im Ausland kommen. Diese Unternehmen sind vom UK Angemessenheitsbeschluss abgedeckt und im gleichen Umfang zum Datenschutz verpflichtet, wie wir.<br>
    <br>
    </div>
    
    <b>Wie lange bewahren wir Ihre Daten auf?</b><br>
    Wir speichern personenbezogene Daten nur so lange, wie dies erforderlich ist, um die einzelnen Zwecke, zu denen die Daten erhoben wurden, zu erfüllen.<br>
    Vertragsdaten speichern wir länger, da wir dazu durch gesetzliche Vorschriften verpflichtet sind. Wir müssen insbesondere geschäftliche Kommunikation, geschlossene Verträge und Buchungsbelege bis zu 10 Jahren aufbewahren. Soweit wir solche Daten von Ihnen nicht mehr zur Durchführung der Dienstleistungen benötigen, werden die Daten für die weitere Verarbeitung eingeschränkt und wir verwenden diese nur noch für Zwecke der Rechnungslegung und für Steuerzwecke.<br>
    
    <h2 id="datenverarbeitung">7. Einzelne Datenverarbeitungsvorgänge</h2>
    <b>Bereitstellen der Webseite und Erstellung von Logfiles</b><br>
    Indem Sie lires.de lediglich besuchen, sich also nicht registrieren oder anderweitige Informationen preisgeben, werden nur die Daten erhoben, die Ihr Browser an unseren Server automatisiert übermittelt. Die Daten sind für den Betrieb der Website technisch erforderlich.<br><br>

    <b>Welche Daten verarbeiten wir?</b><br>
    Zur Bereitstellung der Webseite und bei der Erstellung von Logfiles werden insbesondere folgende Daten bearbeitet:
    <ul>
        <li>Name des Internetserviceproviders</li>
        <li>IP-Adresse</li>
        <li>Technische Informationen wie Browser, Betriebssystem oder Bildschirmauflösung</li>
        <li>Das Datum und die Uhrzeit des Zugriffs</li>
        <li>Referrer-URL</li>
    </ul>
    Diese Daten können keiner bestimmten Person zugeordnet werden und es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt.<br><br>
    
    <b>Zu welchem Zweck verarbeiten wir die Daten?</b><br>
    Die Verarbeitung der Logfiles erfolgt, um die Funktionsfähigkeit der Webseite zu garantieren und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme.<br><br>

    <h2 id="immerGleich">8. Bleibt unsere Datenschutzerklärung immer gleich?</h2>
    Wir können diese Datenschutzerklärung jederzeit ändern. Die Änderungen werden auf lires.de veröffentlicht. Sie werden nicht gesondert informiert.<br>
    Diese Datenschutzerklärung ist vom 16. Juni 2025 und ersetzt die vorherige Version.<br>
    
</div>