<script src="/js/reportScript.js"></script>
<div>
    Datenschutzerklärung
    Zuletzt aktualisiert am 27. April 2025

    1. Was tun wir?
    2. Über was informieren wir?
    3. Begriffsdefinitionen
    4. Kontakt
    5. Datensicherheit
    6. Betroffenenrechte
    7. Allgemeine Grundsätze
    8. Einzelne Datenverarbeitungsvorgänge
    9. Bleibt unsere Datenschutzerklärung immer gleich?

    Was tun wir?
    Benjamin Keppler (Brodkorbweg 54, 87435 Kempten) betreibt die Website lires.de (nachfolgend als «wir» bezeichnet).

    Der Schutz Ihrer persönlichen Daten ist uns ein grosses Anliegen. Wir informieren Sie in dieser Datenschutzerklärung transparent und verständlich darüber, welche Daten wir über unsere Website sammeln und wie wir damit umgehen.

    Aus diesem Grund verwenden wir die Icons des Vereins PRIVACY ICONS. Sie sollen Ihnen dabei helfen, sich rasch einen Überblick über die Verarbeitung Ihrer Daten durch uns zu verschaffen.

    Über was informieren wir?
    Wer für die Datenverarbeitung verantwortlich ist;
    Welche Daten erhoben werden;
    Zu welchem Zweck diese Daten erhoben werden;
    Auf welcher Rechtsgrundlage wir diese Daten erheben;
    An wen wir diese Daten weitergeben;
    Wie Sie einer Datenverarbeitung widersprechen können;
    Welche Rechte Sie haben und wie Sie diese geltend machen können.
    Begriffsdefinitionen
    Was sind personenbezogene Daten?
    Personenbezogene Daten (gleichbedeutend mit dem Begriff «Personendaten») sind alle Angaben, die sich auf eine bestimmte oder bestimmbare natürliche Person beziehen. Dazu gehören beispielsweise Name, Adresse, Geburtsdatum, E-Mail-Adresse oder Telefonnummer sowie die IP-Adresse. Auch Daten über persönliche Vorlieben wie Freizeitbeschäftigungen oder Mitgliedschaften zählen zu den personenbezogenen Daten.

    Was sind besondere Kategorien personenbezogener Daten?
    Besondere Kategorien personenbezogener Daten (gleichbedeutend mit dem Begriff «besonders schützenswerte Daten») sind:

    Daten über religiöse, weltanschauliche, politische oder gewerkschaftliche Ansichten oder Tätigkeiten;
    Daten über die Gesundheit, Intimsphäre, die Zugehörigkeit zu einer Rasse oder Ethnie, sowie zum Sexualleben und zur sexuellen Orientierung;
    Daten zu administrativen oder strafrechtlichen Verfolgungen und Sanktionen, sowie Daten über Massnahmen der sozialen Hilfe;
    Genetische Daten und biometrische Daten, die eine Person eindeutig identifizieren.
    Soweit erforderlich und Sie uns diese Daten selbst preisgeben, können wir Daten, die einer besonderen Kategorie von personenbezogenen Daten angehören, verarbeiten. In diesem Fall unterliegt deren Verarbeitung strengerer Vertraulichkeit.

    Was ist das Verarbeiten von personenbezogenen Daten?
    Verarbeiten (gleichbedeutend mit dem Begriff «Bearbeiten») ist jeder Umgang mit personenbezogenen Daten, unabhängig von den angewandten Mitteln und Verfahren, insbesondere das Beschaffen, Speichern, Aufbewahren, Verwenden, Verändern, Bekanntgeben, Archivieren, Löschen oder Vernichten von personenbezogenen Daten.

    Was ist das Bekanntgeben von personenbezogenen Daten?
    Dies ist das Übermitteln oder Zugänglichmachen von personenbezogenen Daten, bspw. die Veröffentlichung oder die Offenbarung an einen Dritten.

    Kontakt
    Bei Fragen oder Anliegen zum Schutz Ihrer Daten durch uns, können Sie sich an unseren Datenschutzverantwortlichen wenden:


    Benjamin Keppler
    Brodkorbweg 54
    87435 Kempten
    team@lires.de

    Datensicherheit
    Wir werden Ihre Daten sicher aufbewahren und alle angemessenen Massnahmen ergreifen, um Ihre Daten vor Verlust, Zugriff, Missbrauch oder Änderungen zu schützen.

    Unsere Vertragspartner und Mitarbeitenden, die Zugang zu Ihren Daten haben, sind zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet. In manchen Fällen wird es im Rahmen der Auftragsverarbeitung erforderlich sein, dass wir Ihre Anfragen an mit uns verbundene Unternehmen weiterreichen. Auch in diesen Fällen werden Ihre Daten vertraulich behandelt.

    Innerhalb unserer Webseite verwenden wir das SSL-Verfahren (Secure Socket Layer) in Verbindung mit der jeweils höchsten Verschlüsselungsstufe, die von Ihrem Browser unterstützt wird.

    Betroffenenrechte
    Auskunftsrecht
    Sie können jederzeit eine Auskunft, über die von uns über Sie gespeicherten Daten verlangen. Wir bitten Sie, Ihr Auskunftsgesuch zusammen mit einem glaubhaften Identitätsnachweis an team@lires.de zu senden.

    Die Auskunft erfolgt in schriftlicher oder auch in anderer Form, ggf. auch elektronisch. Sofern Sie dies verlangen, können wir Ihnen die Auskunft auch mündlich erteilen, sofern Sie Ihre Identität in anderer Form nachweisen. Stellen Sie den Auskunftsantrag elektronisch, stellen wir die Auskünfte in einem gängigen elektronischen Format zur Verfügung, sofern Sie nichts anderes angeben.

    Die Auskunft ist im Regelfall unentgeltlich. Werden darüber hinaus Kopien angefordert, kann ein angemessenes Entgelt verlangt werden.

    Das Recht eine Kopie über die verarbeiteten Daten zu erhalten, darf die Rechte und Freiheiten anderer Personen nicht beeinträchtigen.

    Im Falle von offensichtlich unbegründeten oder exzessiven Auskunftsanträgen behalten wir uns vor, die Auskunft im Rahmen der gesetzlichen Schranken zu verweigern oder ein angemessenes Entgelt dafür zu verlangen.

    Die Bearbeitung Ihres Gesuchs unterliegt der gesetzlichen Frist von einem Monat. Diese Frist dürfen wir aufgrund der Komplexität und der hohen Anzahl von Anfragen um zwei weitere Monate verlängern, soweit dies erforderlich ist. Sie werden über die Fristverlängerung innerhalb eines Monats nach dem Stellen des Auskunftsgesuch informiert. Zugleich werden Ihnen die Gründe für die Verlängerung genannt.

    Löschung und Berichtigung
    Sie haben jederzeit die Möglichkeit, die Löschung oder Berichtigung bzw. Vervollständigung Ihrer Daten zu verlangen, sofern keine gesetzlichen Aufbewahrungspflichten oder ein gesetzlicher Erlaubnistatbestand entgegenstehen.

    Bitte beachten Sie, dass die Ausübung Ihrer Rechte unter Umständen im Konflikt mit vertraglichen Vereinbarungen stehen und entsprechende Auswirkungen auf die Vertragsdurchführung haben kann (z.B. vorzeitige Vertragsauflösung oder Kostenfolgen).

    Einschränkung der Verarbeitung
    Sie haben ausserdem das Recht, eine Einschränkung der Bearbeitung zu verlangen, wenn Sie die Richtigkeit dieser Daten bestreiten, die Verarbeitung unrechtmässig ist, die Daten nicht länger benötigt werden oder Sie Widerspruch gegen die Verarbeitung erhoben haben.

    Wird die Verarbeitung der Daten eingeschränkt, dürfen diese nur noch gespeichert werden. Eine weitergehende Verarbeitung darf nur mit Ihrer Einwilligung, zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen, zum Schutz der Rechte einer anderen Person oder aus Gründen eines wichtigen öffentlichen Interesses erfolgen. Im Falle einer Aufhebung der Einschränkung werden Sie benachrichtigt.

    Recht auf Datenübertragbarkeit
    Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns, dem die personenbezogenen Daten bereitgestellt wurden, zu übermitteln, sofern die Verarbeitung auf einer Einwilligung gemäß Artikel 6 Absatz 1 lit. a oder Artikel 9 Absatz 2 lit. a DSGVO oder auf einem Vertrag gemäß Artikel 6 Absatz 1 lit. b DSGVO beruht und die Verarbeitung mithilfe automatisierter Verfahren erfolgt. Sie haben ferner das Recht, zu verlangen, dass die personenbezogenen Daten direkt von uns einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist.

    Widerspruchsrecht
    Falls Sie eine Einwilligung zur Verarbeitung Ihrer Daten erteilt haben, können Sie diese jederzeit widerrufen. Ein solcher Widerruf beeinflusst die Zulässigkeit der Verarbeitung Ihrer personenbezogenen Daten, nachdem Sie den Widerspruch gegenüber uns ausgesprochen haben.

    Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung stützen, können Sie Widerspruch gegen die Verarbeitung einlegen. Dies ist der Fall, wenn die Verarbeitung insbesondere nicht zur Erfüllung eines Vertrags mit Ihnen erforderlich ist, was von uns jeweils bei der nachfolgenden Beschreibung der Funktionen dargestellt wird. Bei Ausübung eines solchen Widerspruchs bitten wir um Darlegung der Gründe, weshalb wir Ihre personenbezogenen Daten nicht wie von uns durchgeführt verarbeiten sollten. Im Falle Ihres begründeten Widerspruchs prüfen wir die Sachlage und werden entweder die Datenverarbeitung einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe aufzeigen, aufgrund derer wir die Verarbeitung fortführen.

    Gegen die Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung und Datenanalyse können Sie jederzeit widersprechen. Über Ihren Werbewiderspruch können Sie uns unter den in dieser Datenschutzerklärung angegebenen Kontaktdaten kontaktieren.

    Beschwerderecht
    Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren.

    Allgemeine Grundsätze
    Welche Daten verarbeiten wir von Ihnen und von wem erhalten wir diese Daten?
    In erster Linie verarbeiten wir personenbezogene Daten, die Sie uns übermitteln oder die wir beim Betrieb unserer Website erheben. Unter Umständen erhalten wir personenbezogene Daten über Sie auch von Dritten. Das können folgende Kategorien sein:

    Personenstammdaten (Name, Adresse, Geburtsdaten, etc.);
    Kontaktdaten (Handynummer, E-Mailadresse, etc.);
    Finanzdaten (bspw. Kontoangaben);
    Onlinekennungen (bspw. Cookie-Kennung, IP-Adressen);
    Diese Daten können aus den folgenden Quellen stammen:

    Angaben aus öffentlich zugänglichen Quellen (z.B. Medien, Internet);
    Angaben aus öffentlichen Registern (z.B. Handelsregister, Betreibungsregister, Grundbuch);
    Angaben im Zusammenhang mit behördlichen oder gerichtlichen Verfahren;
    Angaben betreffend Ihrer beruflichen Funktionen und Aktivitäten (bspw. berufliche Netzwerke);
    Angaben über Sie in Korrespondenz und Besprechungen mit Dritten;
    Bonitätsauskünfte (soweit wir mit Ihnen persönliche Geschäfte abwickeln);
    Angaben über Sie, die uns Personen aus Ihrem Umfeld geben, damit wir Verträge mit Ihnen abschliessen oder abwickeln können;
    Daten im Zusammenhang mit der Benutzung der Webseite.
    Unter welchen Voraussetzungen verarbeiten wir Ihre Daten?
    Wir verarbeiten Ihre Daten im Einklang mit den geltenden Datenschutzgesetzen, insbesondere der DSGVO. Die Verarbeitung erfolgt jeweils zu den in dieser Datenschutzerklärung festgelegten Zwecken. Wir achten dabei auf Transparenz und Verhältnismäßigkeit.

    Die Verarbeitung Ihrer Daten ist rechtmässig, sofern ein Erlaubnistatbestand der DSGVO erfüllt ist. Als Erlaubnistatbestände kommen namentlich in Frage:

    Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO);
    Die Erfüllung eines Vertrages oder vorvertraglicher Massnahmen (Art. 6 Abs. 1 lit. b DSGVO);
    Die Erfüllung rechtlicher Verpflichtungen, der wir unterliegen (Art. 6 Abs. 1 lit. c DSGVO);
    Der Schutz lebenswichtiger Interessen der betroffenen Person oder einer anderen natürlichen Person (Art. 6 Abs. 1 lit. d DSGVO);
    Die Wahrnehmung einer Aufgabe, die im öffentlichen Interesse liegt oder die in Ausübung öffentlichen Gewalt, welche dem Verantwortlichen übertragen wurde, erfolgt (Art. 6 Abs. 1 lit. e DSGVO);
    Unsere berechtigten Interessen, sofern Ihre Interessen nicht überwiegen (Art. 6 Abs. 1 lit. f DSGVO).
    Unter Umständen ist es erforderlich, dass Sie uns gewisse personenbezogene Daten bekanntgeben, damit vertragliche Pflichten erfüllt werden können. Ohne solche Daten sind wir normalerweise nicht in der Lage, einen Vertrag abzuwickeln.

    Die Webseite kann im Normalfall ebenfalls nicht genutzt werden, wenn gewisse Angaben zur Sicherstellung des Datenverkehrs, wie Ihre IP-Adresse, nicht offengelegt werden.

    In welchen Fällen können wir Ihre Daten an Dritte weitergeben?
    a. Grundsatz

    Wir sind unter Umständen darauf angewiesen, die Dienste Dritter oder von verbundenen Unternehmen in Anspruch zu nehmen und diese mit der Verarbeitung Ihrer Daten zu beauftragen (sog. Auftragsverarbeiter). Kategorien der Empfänger sind namentlich:

    Buchhaltung, Treuhand und Revisionsunternehmen;
    Beratungsunternehmen (Rechtsberatung, Steuern, etc.);
    IT-Dienstleister (Webhosting, Support, Clouddienste, Webseitengestaltung, etc.);
    Zahlungsdienstleister;
    Anbieter von Tracking-, Conversion- und Werbedienstleistungen.
    Wir stellen sicher, dass diese Dritten und unsere verbundenen Unternehmen die Voraussetzungen des Datenschutzes einhalten und Ihre personenbezogenen Daten vertraulich behandeln.

    Unter Umständen sind wir auch verpflichtet, Ihre personenbezogenen Daten an Behörden bekanntzugeben.

    b. Weitergabe an Partner und Kooperationsunternehmen

    Wir arbeiten teils mit unterschiedlichen Unternehmen und Partnern zusammen, die Ihre Angebote auf unserer Website aufschalten. Es ist für Sie erkennbar, dass es sich um ein Drittangebot (als «Werbung» gekennzeichnet) handelt.

    Wenn Sie ein solches Angebot in Anspruch nehmen, übermitteln wir Ihre personenbezogenen Daten an den entsprechenden Partner oder das Kooperationsunternehmen (z.B. Name, Funktion, Kommunikation etc.), dessen Angebot Sie wahrnehmen wollen. Diese Partner und Kooperationsunternehmen sind eigenständig für die empfangenen personenbezogenen Daten verantwortlich. Nach der Übermittlung der Daten gelten die Datenschutzbestimmungen des jeweiligen Partners.

    c. Weitergabe ins Ausland

    Unter Umständen kann es im Rahmen der Auftragsbearbeitung zur Übermittlung Ihrer personenbezogenen Daten an Unternehmen im Ausland kommen. Diese Unternehmen sind im gleichen Umfang zum Datenschutz verpflichtet, wie wir selber. Die Übermittlung kann weltweit stattfinden.

    Entspricht das Datenschutzniveau nicht demjenigen des EWR-Raums, so nehmen wir eine vorgängige Risikoeinschätzung vor und stellen vertraglich sicher, dass der gleiche Schutz wie im EWR-Raum garantiert wird (bspw. mittels der Standardvertragsklauseln der EU-Kommission oder anderen, gesetzlich vorgegebenen Massnahmen). Sollte unsere Risikoeinschätzung negativ ausfallen, ergreifen wir zusätzliche technische Massnahmen zum Schutz Ihrer Daten. Sie können die Standardvertragsklauseln der EU-Kommission abrufen unter folgendem Link.

    Wie lange bewahren wir Ihre Daten auf?
    Wir speichern personenbezogene Daten nur so lange, wie dies erforderlich ist, um die einzelnen Zwecke, zu denen die Daten erhoben wurden, zu erfüllen.

    Vertragsdaten speichern wir länger, da wir dazu durch gesetzliche Vorschriften verpflichtet sind. Wir müssen insbesondere geschäftliche Kommunikation, geschlossene Verträge und Buchungsbelege bis zu 10 Jahren aufbewahren. Soweit wir solche Daten von Ihnen nicht mehr zur Durchführung der Dienstleistungen benötigen, werden die Daten für die weitere Verarbeitung eingeschränkt und wir verwenden diese nur noch für Zwecke der Rechnungslegung und für Steuerzwecke.

    Einzelne Datenverarbeitungsvorgänge
    Bereitstellen der Webseite und Erstellung von Logfiles
    Indem Sie lires.de lediglich besuchen, sich also nicht registrieren oder anderweitige Informationen preisgeben, werden nur die Daten erhoben, die Ihr Browser an unseren Server automatisiert übermittelt. Die Daten sind für den Betrieb der Website technisch erforderlich.

    Welche Daten verarbeiten wir?

    Zur Bereitstellung der Webseite und bei der Erstellung von Logfiles werden insbesondere folgende Daten bearbeitet:

    Name des Internetserviceproviders
    IP-Adresse
    Technische Informationen wie Browser, Betriebssystem oder Bildschirmauflösung
    das Datum und die Uhrzeit des Zugriffs
    Referrer-URL
    Diese Daten können keiner bestimmten Person zugeordnet werden und es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt.

    Zu welchem Zweck verarbeiten wir die Daten?

    Die Verarbeitung der Logfiles erfolgt, um die Funktionsfähigkeit der Webseite zu garantieren und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme.

    Auf welcher Grundlage verarbeiten wir die Daten?

    Die Rechtsgrundlage für diese Datenverarbeitung ist unser berechtigtes Interesse nach Art. 6 Abs. 1 lit. f DSGVO. Worin unsere berechtigten Interessen liegen, ergibt sich aus dem Zweck der Datenverarbeitung.

    An wen geben wir die Daten weiter?

    Die Weitergabe der Daten durch uns richtet sich nach unseren Ausführungen zur Datenweitergabe.

    Wie können Sie die Datenverarbeitung verhindern?

    Die Daten werden nur so lang gespeichert, wie dies zur Erreichung des Zweckes ihrer Erhebung notwendig ist. Dementsprechend werden die Daten nach Beendigung jeder Sitzung gelöscht. Die Speicherung der Logfiles ist für den Betrieb der Webseite zwingend notwendig, Sie haben daher keine Möglichkeit, dagegen Widerspruch zu erheben, es denn Sie besuchen unsere Webseite nicht.

    Auf welcher Rechtsgrundlage verarbeiten wir die Daten?

    Die Rechtsgrundlage für diese Verarbeitung ist Ihre Einwilligung nach Art. 6 Abs. 1 lit a DSGVO. Soweit es sich um technisch notwendige Cookies handelt, bildet unser berechtigtes Interesse nach Art. 6 Abs. 1 lit. f DSGVO die Rechtsgrundlage.

    An wen geben wir die Daten weiter?

    Die Weitergabe der Daten durch uns richtet sich nach unseren Ausführungen zur Datenweitergabe. Zudem sind die nachfolgenden Ausführungen zu den einzelnen Datenbearbeitungen in dieser Datenschutzerklärung zu beachten.

    Wie können Sie die Datenverarbeitung verhindern?

    Beim Aufruf der Webseite wird ein Cookie-Banner angezeigt. Cookies die Ihre Einwilligung nach Art. 6 Abs. 1 lit. a DSGVO erfordern, werden erst aktiviert, wenn Sie Ihre Einwilligung erteilen. Verweigern Sie die Einwilligung, findet keine Datenerfassung durch die einwilligungspflichtigen Cookies statt.

    Die Datenerfassung durch Cookies die wir auf Grundlage unseres berechtigten Interesses nach Art. 6 Abs. 1 lit. f DSGVO einsetzen, können Sie durch den Cookie-Banner nicht verhindern. Diese für den Betrieb der Website technisch notwendigen Cookies werden auf Ihrem Rechner gespeichert. Sie können diese vollständig löschen oder durch Änderung der Einstellungen in Ihrem Browser die Übertragung deaktivieren oder einschränken. Bei Deaktivierung dieser Cookies können

    Anleitungen zu den gängigsten Browsern finden Sie hier:

    Für Chrome von Google
    Für Safari von Apple
    Für Edge von Microsoft
    Für Firefox von Mozilla
    Bei Cookies, die für die Erfolgs- und Reichweitenmessung oder für Werbung verwendet werden, ist für zahlreiche Dienste ein allgemeiner Widerspruch («Opt-out») über die Network Advertising Initiative (NAI), YourAdChoices (Digital Advertising Alliance) oder Your Online Choices (European Interactive Digital Advertising Alliance, EDAA) möglich

    Zählpixel
    Wir können Zählpixel auf unserer Website oder in unseren E-Mails verwenden. Zählpixel werden auch als Web-Beacons bezeichnet. Bei Zählpixeln handelt es sich um kleine, üblicherweise nicht sichtbare Bilder, die beim Besuch unserer Website oder beim Öffnen unserer E-Mails automatisch abgerufen werden.

    Welche Daten verarbeiten wir?

    Mit Zählpixeln können die gleichen Angaben wie in Logfiles erfasst werden. Zudem können Bewegungsprofile der gesamten Sitzung erhoben werden. Insbesondere werden Zählpixel durch Dritte, deren Dienste wir nutzen, eingesetzt. Über diese Dienste von Dritten wird in dieser Erklärung nachfolgend im Einzelnen informiert.

    Zu welchem Zweck verarbeiten wir die Daten?

    Zählpixel werden von verschiedenen Trackingdiensten verwendet, um die Nutzung dieser Website zu analysieren und zur statistischen Auswertung sowie für kontinuierliche Verbesserungen. Zudem können Zählpixel für E-Mail-Tracking verwendet werden.

    Auf welcher Rechtsgrundlage verarbeiten wir die Daten?

    Die Rechtsgrundlage für die Verbreitung ist Ihre Einwilligung nach Art. 6 Abs. 1 lit a DSGVO.

    An wen geben wir die Daten weiter?

    Die Weitergabe der Daten durch uns richtet sich nach unseren Ausführungen zur Datenweitergabe. Beachten Sie zudem die Ausführungen in dieser Datenschutzerklärung zu den einzelnen Trackingdiensten.

    Wie können Sie die Datenverarbeitung verhindern?

    Um die Datenverarbeitung mittels Zählpixeln zu verhindern, können Sie geeignete Browsererweiterungen wie uBlockOrigin installieren und in Ihrem E-Mail-Programm externe Grafiken blockieren.

    Bleibt unsere Datenschutzerklärung immer gleich?
    Wir können diese Datenschutzerklärung jederzeit ändern. Die Änderungen werden auf lires.de veröffentlicht. Sie werden nicht gesondert informiert.

</div>