<script src="/js/reportScript.js"></script>
<div class="contractDetails"><style>.contractDetails {
  padding-left: 1.25cm;
  font-family: sans-serif;
  overflow-wrap: break-word;
}

p.BodyLeft,
p.Body {
  margin-left: 0 !important;
}

p.BodyLeft p,
p.Body p {
  margin-left: 0 !important;
}

p.BodyLeft p span,
p.Body p span {
  margin-left: 0 !important;
}

p.BodyLeft p span span,
p.Body p span span {
  margin-left: 0 !important;
}

.DieterLista,
.DieterListi,
.BulletList1 {
  padding-left: 1.25cm;
}

.DieterLista .number-prefix-p,
.DieterListi .number-prefix-p,
.BulletList1 .number-prefix-p {
  margin-left: -1.25cm;
  display: inline-block;
  width: 1.25cm;
}

.DieterListaIndent,
.DieterListiIndent,
.BulletList2 .number-prefix-p {
  margin-left: 1.25cm;
  display: inline-block;
  width: 1.25cm;
}

.DieterHeading2 .number-prefix-p,
.DieterHeading3 .number-prefix-p,
.DieterHeading4 .number-prefix-p {
  display: inline-block;
  width: 1.25cm;
  margin-left: -1.25cm;
}

.DieterHeading2,
.HeadingLeft {
  font-weight: 600;
}

.DieterHeading2 span:not(.number-prefix-p) {
  margin-left: 0 !important;
}

.BulletListNoIndent {
  margin-left: 0 !important;
}

.BulletListNoIndent span {
  text-indent: 0;
}

.BulletListNoIndent .number-prefix-p {
  display: inline-block;
  width: 1.25cm;
  margin-left: -1.25cm;
}

.BulletListNoIndent span:not(.number-prefix-p) {
  text-indent: 1.25cm !important;
}

.HeadingLeft {
  margin-left: 0 !important;
  font-size: 1.25rem;
}

.HeadingLeft span {
  margin-left: 0 !important;
}

.DieterInvisible {
  display: none;
}

.multiline {
  white-space: pre-wrap;
}
</style><h1 class="DieterHeading1">Impressum</h1><h2 class="HeadingLeft"><span>Anbieter</span></h2><p class="Body">Benjamin Keppler</p><p class="Body"><span class="multiline">Brodkorbweg 54 
87437 Kempten</span></p><h2 class="HeadingLeft"><span>Kontakt</span></h2><p class="Body">E-Mail: team@lires.de</p><p class="Body">Telefon: +49 015751120889</p><h2 class="HeadingLeft"><span>Urheberrechtshinweis</span></h2><p class="Body">Die auf unserer Internetseite vorhandenen Texte, Bilder, Fotos, Videos oder Grafiken unterliegen in der Regel dem Schutz des Urheberrechts. Jede unberechtigte Verwendung (insbesondere die Vervielfältigung, Bearbeitung oder Verbreitung) dieser urheberrechtsgeschützten Inhalte ist daher untersagt. Wenn Sie beabsichtigen, diese Inhalte oder Teile davon zu verwenden, kontaktieren Sie uns bitte im Voraus unter den oben stehenden Angaben. Soweit wir nicht selbst Inhaber der benötigten urheberrechtlichen Nutzungsrechte sein sollten, bemühen wir uns, einen Kontakt zum Berechtigten zu vermitteln.</p>