<header class="header">
    <img class="logo" src="/img/oni.png" alt="Lires-Zwiebel">
    <input id="suchleiste" class="suchleiste">
    <button id="filbut" class="filbut" onclick="filBut()">
      <img src = "/img/fil.png" alt="Filter" width="55px">
      </button>
    <nav>
      <ul class="navLinks">
        <li class="tooltipCal">
          <a href="link"></a>
          <img class="navpic" src="/img/cal.png" alt="Kochkalender">
          <span class="tooltipCaltext">Kochen planen</span>
        </li>
        <li class="tooltipList" id="ListBut" onclick="listBut()">
          <a href="link"></a>
          <img class="navpic" src="/img/lists.png" alt="Listen">
          <span class="tooltipListtext">Zutaten in Einkaufslisten zusammenfassen</span>
        </li>
        <li>
          <a href="link"></a>
          <usrnm>[Username hier]</usrnm>
        </li>
        <li class="tooltipProfil">
          <a href="link"></a>
          <img class="navpic" src="/img/bsppb.png" alt="beispielhaftes Profilbild">
          <span class="tooltipProfiltext">Zum Profil</span>
        </li>
    </ul>
    </nav>
</header>

<div id="filOptionPage" class="filOptionPage">
  <filHeader class="filGridHeader">Filter</filHeader>
  <div class="filGridArtGericht" id="artGericht"><h3>Art des Gerichts</h3>
    <select class="filDropdown"><option value="all">Alles</option>
    <option value="hptgrcht">Hauptgericht</option>
    <option value="nchtsch">Nachtisch</option>
    <option value="gbck">Gebäck</option>
    <option value="fngrfd">Fingerfood</option>
    <option value="suess">Süß</option>
    <option value="slt">Salat</option></select>
  </div>
  <div class="filGridZubDauer" id="zubDauer"><h3>Zubereitungsdauer</h3>
    <input type="range" min="1" max="100" value="50" class="slider" id="maxDauer">
  <p>Dir werden Rezepte mit einer Zubereitungsdauer von maximal <span id="maxMin"></span> Minuten angezeigt.</p>
  </div>
  <div class="filGridExclude" id=exclude><h3>Aus Suchergebnissen ausschließen</h3>
    <p>Zutaten:<input><br>
      Zubehör: <input><br>
      Prozesse:<input></p>
  </div>
  <div class="filGridInclude" id=include><h3>In Suchergebnisse inkludieren</h3>
    <p>Zutaten:<input><br>
      Prozesse:<input></p>
  </div>
</div>

<div class="split splitLeft">
    <div>
      <h2>This Website is in development</h2>
      <p>Mehr Text <br> This development is in website</p>
    </div>
  </div>
  <div id="listArea" class="split splitRight ">
    <div>
      <h2 class="splRiTxt">Text SplitRight</h2>
      <hr class="hoLineSplitRight">
      <ul class="splRiListTxt">
        <li>Auch Text</li>
        <li>Hier</li>
        <li>Wieauchimmer</li>
        <li>man das mit dem</li>
        <li>Adden umsetzt...</li>
      </ul>
    </div>
  </div>