<header class="header">
    <img class="logo" src="/img/oni.png" alt="Lires-Zwiebel">
    <input id="suchleiste" class="suchleiste">
    <button id="filbut" class="filbut">
        <img src = "/img/fil.png" alt="Filter" width="55px"> </button>
    <nav>
        <ul class="navLinks">
            <li><a href="link"></a><img class="navpic" src="/img/cal.png" alt="Kochkalender"></li>
            <li id="ListBut" onclick="listBut()"><a href="link"></a><img class="navpic" src="/img/lists.png" alt="Listen"></li>
            <li><a href="link"></a><usrnm>[Username hier]</usrnm></li>
            <li><a href="link"></a><img class="navpic" src="/img/bsppb.png" alt="beispielhaftes Profilbild"></li>
        </ul>
    </nav>
</header>

<div class="split splitLeft">
    <div>
      <h2>This Website is in development</h2>
      <p>Mehr Text <br> This development is in website</p>
    </div>
  </div>
  <div id="listArea" class="split splitRight ">
    <div>
      <h2 class="splRiTxt">Text SplitRight</h2>
      <hr class="hoLineSplitRight">
      <ul class="splRiListTxt">
        <li>Auch Text</li>
        <li>Hier</li>
        <li>Wieauchimmer</li>
        <li>man das mit dem</li>
        <li>Adden umsetzt...</li>
      </ul>
    </div>
  </div>