<body>
    <div id=header class="header">
        <div id=hdivleft class="hdivleft">
            <img src="/public/img/oni.png" alt="Lires-Zwiebel">
            <input id="suchleiste" class="suchleiste">
            <button id="filterbut"> 
                <img src = "../public/img/filter.png" alt="Filter"> </button>
        </div>

        <div id=hdivright class="hdivright">
            <button id="kk">
                <img src = "../public/img/kalender.png" alt="Kochkalender"> </button>
            <button id="toLists">
                <img src="../public/img/list.png" alt="Listen"> </button>
            <usrnm>[Nutzername hier]</usrnm>
            <img alt="Profilbild">
        </div>
    </div>
</body> 