<header class="header">
    <img class="logo" src="/img/oni.png" alt="Lires-Zwiebel">
    <input id="suchleiste" class="suchleiste">
    <button id="filbut" class="filbut"> 
        <img src = "/img/fil.png" alt="Filter" width="55px"> </button>
        
    <nav>
        <ul class="navLinks">
            <li><a href="link"></a><img class="navpic" src="/img/cal.png" alt="Kochkalender"></li>
            <li><a href="link"></a><img class="navpic" src="/img/lists.png" alt="Listen"></li>
            <li><a href="link"></a><usrnm>[Username hier]</usrnm></li>
            <li><a href="link"></a><img class="navpic" src="/img/bsppb.png" alt="beispielhaftes Profilbild"></li>
        </ul>
    </nav>
</header>