<link rel="stylesheet" href="/css/desktoplogin.css">
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const url = new URLSearchParams(window.location.search);
    const islogin = url.get('islogin');
    const message = url.get('message');
    console.log(islogin, message);
    if (islogin === 'false') {
        document.getElementById('regerror').textContent = message;
    } else if (islogin === 'true') {
        document.getElementById('loginerror').textContent = message;
    }
    });
    const url = new URLSearchParams(window.location.search);
    const islogin = url.get('islogin');
    const message = url.get('message');
    console.log(islogin, message);
    if (islogin === 'false') {
        document.getElementById('regerror').textContent = message;
    } else if (islogin === 'true') {
        document.getElementById('loginerror').textContent = message;
    }
</script>
<div class="toplogin">
    <div class="filOptionPagelogin">
        <filHeader class="filGridHeader">Login</filHeader>
        <form action="/anmld" method="post" class="formlogin">

            <input type="text" name="username" placeholder="Username" id="usrnmlogin" required class="inputusrnm">
            <input type="submit" value="Login" class="submitloginreg">
        </form>
        <p id="loginerror" class="error"></p>
    </div>
    <div class="filOptionPagelogin">
        <filHeader class="filGridHeader">Registrieren</filHeader>
        <form action="/register" method="post" class="formlogin">
            <input type="text" name="username" placeholder="Username" id="usrnmregister" required class="inputsreg">

            <input type="password" name="permstring" placeholder="Berechtigungs-ID" id="permstring" required class="inputsreg">
            <input type="submit" value="Register" class="submitloginreg">
        </form>
        <p id="regerror" class="error"></p>
    </div>
</div>