<link rel="stylesheet" href="/css/desktoplogin.css">
<div class="toplogin">
    <div class="filOptionPagelogin">
        <filHeader class="filGridHeader">Login</filHeader>
        <form action="/anmld" method="post" class="formlogin">

            <input type="text" name="username" placeholder="Username" id="usrnmlogin" required class="inputusrnm">
            <input type="submit" value="Login" class="submitloginreg">
        </form>
    </div>
    <div class="filOptionPagelogin">
        <filHeader class="filGridHeader">Registrieren</filHeader>
        <form action="/register" method="post" class="formlogin">
            <input type="text" name="username" placeholder="Username" id="usrnmregister" required class="inputsreg">

            <input type="password" name="permstring" placeholder="Berechtigungs-ID" id="permstring" required class="inputsreg">
            <input type="submit" value="Register" class="submitloginreg">
        </form>
    </div>
</div>