<!--<link rel="stylesheet" href="/css/desktoplogin.css">-->
<link rel="stylesheet" href="/css/v2/stylelogin.css">
<div class="zentrieren horizont stapeln">
    <img class="logoLogin" src="/img/oni_v2.png" alt="Lires-Zwiebel">
    <liresTitelLogin>Lires</liresTitelLogin>
    <div id="randomLoginQot">Willkommen bei Lires, der Zwiebel für alle Lebenslagen.</div>
    <div class="loginFields">
        Login
        <form action="/anmld" method="post" class="formlogin">

            <input type="text" name="username" placeholder="Nutzername" id="usrnmlogin" required class="inputusrnm">
            <input type="submit" value="Login" class="buttonLogin">
        </form>
    </div>

    <div class="loginFields">
        Registrieren
        <form action="/register" method="post" class="formlogin">
            
            <input type="text" name="username" placeholder="Nutzername" id="usrnmregister" required class="inputsreg marginZehn">
            <input type="password" name="permstring" placeholder="Berechtigungs-ID" id="permstring" required class="inputsreg marginZehn">
            <input type="submit" value="Register" class="buttonLogin">
        </form>
    </div>
</div>

<div class="center" id="centerDiv">
    <p id='regerror' class='error'></p>
    <p id="loginerror" class="error"></p>
</div>

<script src="/js/loginerr.js"></script>