<!--<link rel="stylesheet" href="/css/profiledesktop.css" />-->
<div id="dataCollection" style="display: none;">
    <div id="selfRecs"><%= selfRecs %></div>
</div>
<div class="line1">
    <div class="quarter">
        <partialTitle>Freunde</partialTitle>
        <div class="line1">
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name1</partialsubtext>
            </div>
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name2</partialsubtext>
            </div>
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name3</partialsubtext>
            </div>
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name4</partialsubtext>
            </div>
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name5</partialsubtext>
            </div>
        </div>
    </div>
    <div class="quarter">
        <partialTitle>Erstellte Rezepte</partialTitle>
        <ol>
            <li class="recList" id="recList1">[]</li>
            <li class="recList" id="recList2">[]</li>
            <li class="recList" id="recList3">[]</li>
            <li class="recList" id="recList4">[]</li>
            <li class="recList" id="recList5">[]</li>
        </ol>
    </div>
</div>
<div class="line2">
    <div class="quarter">
        <partialTitle>Anfragen</partialTitle>
        <ol>
            <li class="recList">Keine Freundesanfragen</li>
            <li class="recList"></li>
            <li class="recList"></li>
        </ol>
    </div>
    <div class="quarter">
        <partialTitle>Zuletzt zu Listen hinzugefügt</partialTitle>
        <ol>
            <li class="recList">Keine hinzugefügten Rezepte</li>
            <li class="recList"></li>
            <li class="recList"></li>
        </ol>
    </div>
</div>
<script src="/js/profile.js"></script>