<link rel="stylesheet" href="/css/profiledesktop.css" />
<div class="line1">
    <div class="quarter">
        <partialTitle>Freunde</partialTitle>
        <div class="line1">
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name1</partialsubtext>
            </div>
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name2</partialsubtext>
            </div>
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name3</partialsubtext>
            </div>
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name4</partialsubtext>
            </div>
            <div class="friends"><img src="/img/bsppb.png" width="40%">
                <partialsubtext>Name5</partialsubtext>
            </div>
        </div>
    </div>
    <div class="quarter">
        <partialTitle>Erstellte Rezepte</partialTitle>
        <ol>
            <li class="recList">Rezept NUmmer 1</li>
            <li class="recList">Rezept 2</li>
            <li class="recList">Kochanleitung Nr3</li>
            <li class="recList">Rezept Nr 4</li>
            <li class="recList">potentielles Rezept 5</li>
        </ol>
    </div>
</div>
<div class="line2">
    <div class="quarter">
        <partialTitle>Anfragen</partialTitle>
        <ol>
            <li class="recList">Anfrage NUmmer 1</li>
            <li class="recList">Anfrage 2</li>
            <li class="recList">Anfrage Nr3</li>
        </ol>
    </div>
    <div class="quarter">
        <partialTitle>Zuletzt zu Listen hinzugefügt</partialTitle>
        <ol>
            <li class="recList">Rezept NUmmer 1 von [User]</li>
            <li class="recList">Rezept 2 von [User]</li>
            <li class="recList">Rezept Nr3 von [User]</li>
        </ol>
    </div>
</div>
<script src="?"></script>