<link rel="stylesheet" href="/css/v2/stylerec.css">
<!--pls dooond delete me :B-->
<div id="recipeData" style="display: none;">
    <%= rec %>
</div>
<div id="recmarked" style="display: none;">
    <%= marked %>
</div>
<!--pls dooond delete me :B-->
<!-- oke <3-->

<div class="kumpeln spaceBetween paddingZwanzig fullWidthZwanzig recBody">
    <div class="recLeft stapeln">
        <recName id="recName"></recName>
        <div class="kumpeln alignLeft horizont ">
            <p class="scndLinTxt marginRight"><b>Zubereitungsdauer: </b><span id="duration"></span> Minuten</p>
            <div class="horizont">
                <p class="scndLinTxt"><b>&emsp;&emsp;&emsp;&emsp;Schwierigkeitsgrad:&emsp;</b></p>
                <img class="stars" src="/img/3star.png" alt="3 von 5" id="difficulty" />
            </div>
        </div>
        <div class="kumpeln spaceBetween horizont">
            <div class="kumpeln">
                <krzInfo class="hidden" id="krzInf1"></krzInfo>
                <krzInfo class="hidden" id="krzInf2"></krzInfo>
                <krzInfo class="hidden" id="krzInf3"></krzInfo>
                <krzInfo class="hidden" id="krzInf4"></krzInfo>
                <krzInfo class="hidden" id="krzInf5"></krzInfo>
            </div>
            <usr id="userAndDate"></usr>
        </div>

        <hr class="line">

        <div class="kumpeln">
            <div class="ings stapeln">
                <p class="menge" id="countforenh"></p>
                <div class="scrollIngTable">
                    <table class="fixTable" id="fixTable"></table>
                </div>
            </div>
            <div class="stapeln mid">
                <p class="rightTitles"><b>Vorgehen:</b></p>
                <p class="noMarginTop blocksatz" id="directions"></p>
            </div>
        </div>
    </div>

    <div class="recRight stapeln buddyBg">
        <p class="rightTitles"><b>Kurzbeschreibung:</b></p>
        <p class="noMarginTop blocksatz" id="description"></p>
        <hr class="lineContrast">
        <div class="stapeln">
            <b>Attribute:</b>
            <div class="kumpeln alignLeft">
                <lblMinis class="hidden" id="miniLbl1"></lblMinis>
                <lblMinis class="hidden" id="miniLbl2"></lblMinis>
                <lblMinis class="hidden" id="miniLbl3"></lblMinis>
                <lblMinis class="hidden" id="miniLbl4"></lblMinis>
            </div>
            <div class="kumpeln alignLeft">
                <lblMinis class="hidden" id="miniLbl5"></lblMinis>
                <lblMinis class="hidden" id="miniLbl6"></lblMinis>
                <lblMinis class="hidden" id="miniLbl7"></lblMinis>
                <lblMinis class="hidden" id="miniLbl8"></lblMinis>
            </div>
            <div class="kumpeln alignLeft">
                <lblMinis class="hidden" id="miniLbl9"></lblMinis>
                <lblMinis class="hidden" id="miniLbl10"></lblMinis>
                <lblMinis class="hidden" id="miniLbl11"></lblMinis>
                <lblMinis class="hidden" id="miniLbl12"></lblMinis>
            </div>
        </div>

        <div class="kumpeln useractions spaceBetween">
            <button id="addRecToCal" class="recActionBtns" onclick="">
                Zu Kalender hinzufügen
            </button>
            <button id="addRecToList" class="recActionBtns" onclick="addToAnyList()">
                Zu Liste hinzufügen
            </button>
            <button id="saveRec" class="recActionBtns" onclick="achtungDieseFunktionHatSchonEineFunktionInRECIPEJSAberhierFehltnochwas()">
                <img src="/img/nadel.png" alt="Speichere das Rezept" width="55px">
            </button>
        </div>
        
    </div>
</div>

<div class=" hidden ingPage stapeln" id="filIngPage">
    <div class="kumpeln horizont spaceBetween marginBottom">
        <div> </div>
        <addToListTitle>Wähle die Menge und die Zutaten aus, die du zu Listen hinzufügen möchtest</addToListTitle>
        <div class="closeDiv">
            <button class="closeButton" onclick="addToAnyListClose()">
            </button>
        </div>
    </div>
    
    <div class="kumpeln alignLeft">
        <table class="fixTable1" id="fixTable1"></table>

        <div class="stapeln">
            <div class="NextToings" id="nextToingsoverall">
                <verfList>Verfügbare Listen:</verfList>
                <div id="defaultListNew" class="listsNextToings selected" onclick="toggleSelectionLists(this)">
                    <listeErstellenBut>Neue Liste erstellen</listeErstellenBut>
                </div>
                <div><input type="text" placeholder="Liste benennen" class="inputListNameNew" id="inputListNameNew"></div>
            </div>

            <div class="addIngToListUR">
                <button class="addToListFinal" onclick="addToListFinal()">
                    <img width="30px" src="/img/weiter.png" alt="Bestätige die Änderungen">
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/js/recipe.js"></script>
<script src="/js/addRecToList.js"></script>