<link rel="stylesheet" href="/css/recipedesktop.css">
<div id="recipeData" style="display: none;">
    <%= rec %>
</div>
<div class="body">
    <div class="top">
        <div class="frstLine">
            <recName id="recName"></recName>
            <usr id="userAndDate"></usr>
        </div>
        <div class="scndLine">
            <p class="scndLinTxt marginRight">Zubereitungsdauer: <span id="duration"></span> Minuten</p>
            <p class="scndLinTxt">Schwierigkeitsgrad:</p>
            <img class="stars" src="/img/3star.png" alt="3 von 5" id="difficulty" />
        </div>
    </div>
    <hr class="hr">
    <div>
        <div class="deskleft">
            <p class="menge" id="countforenh"></p>
            <table class="fixTable" id="fixTable"></table>
            <button id="addRecToList" class="addRecToList" onclick="irgendeinefunktion()">
                <img src="/img/addrec.png" alt="Füge Rezepte hinzu" width="55px">
            </button>
        </div>
        <div class="deskright">
            <p class="rightTitles">Kurzbeschreibung:</p>
            <p class="noMarginTop blocksatz" id="description"></p>
            <p class="rightTitles">Vorgehen:</p>
            <p class="noMarginTop blocksatz" id="directions"></p>
        </div>
    </div>
</div>
</div>
<script src="/js/recipe.js"></script>