<link rel="stylesheet" href="/css/v2/stylerec.css">
<div class="kumpeln spaceBetween paddingZehn fullWidth">
    <div class="">
    </div>
    <div class="stapeln">
        <div class="stapeln buddyBg">
            <p class="rightTitles">Kurzbeschreibung:</p>
            <p class="noMarginTop blocksatz" id="description"></p>

            <div class="kumpeln">
                <div class="miniLblsRow">
                    <lblMinis class="hidden" id="miniLbl1"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl2"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl3"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl4"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl5"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl6"></lblMinis>
                </div>
                <div class="miniLblsRow">
                    <lblMinis class="hidden" id="miniLbl7"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl8"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl9"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl10"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl11"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl12"></lblMinis>
                </div>
            </div>

            <div class="kumpeln">
                <button id="addRecToCal" class="recActionBtns" onclick="">
                    Zu Kalender hinzufügen
                </button>
                <button id="addRecToList" class="recActionBtns" onclick="addToAnyList()">
                    Zu Liste hinzufügen
                </button>
                <button id="saveRec" class="recActionBtns" onclick="achtungDieseFunktionHatSchonEineFunktionInRECIPEJSAberhierFehltnochwas()">
                    <img src="/img/nadel.png" alt="Speichere das Rezept" width="55px">
                </button>
            </div>
            
        </div>
        
    </div>
</div>
<script src="/js/recipe.js"></script>
<script src="/js/addRecToList.js"></script>