<link rel="stylesheet" href="/css/recipedesktop.css">
<div class="body">
    <div class="top">
        <div class="frstLine">
            <recName>[Titel d. Rezepts]</recName>
            <p>[Nutzername] am [DD.MM.YYYY]</p>
        </div>
        <p>Zubereitungsdauer: [XX] Minuten</p>
        <img>
    </div>
    <p>Zutaten für <input type="number" min="1"> [Einheit].</p>
    <table>
        <tr>
            <td>[Zutat1]</td>
            <td>[Menge1]</td>
        </tr>
    </table>
    <p>[Kurzbeschreibung Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et e]</p>
    <p>[Vorgehen Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur
        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et
        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.]</p>
    <button id="addRecToList" class="addRecToList" onclick="neu">
        <img src="/img/addrec.png" alt="Füge Rezepte hinzu" width="55px">
    </button>
</div>
<script src="/js/recipe.js"></script>