<form action="/sendReport" method="POST">

    <label for="email">E-Mail:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="message">Nachricht:</label><br>
    <textarea id="message" name="message" required></textarea><br><br>

    <label for="user" class="hidden">User:</label>
    <input type="text" id="user" name="user" class="hidden"><br><br>

    <button type="submit">Absenden</button>
</form>
<script>
    document.getElementById('user').value = getUserCredetials()[0] + ' ' + getUserCredetials()[1];
</script>
<%- include('./partials/darkBgWithFilter.ejs')%>