.aufwRange{
    cursor: pointer;
    width: 70%;
    height: 12%;
    background: #6353ac;
    border-radius: 5px;
    outline: none;
}
.aufwRange::-moz-range-thumb {
    height: 110%;
    background: #caffee;
    cursor: pointer;
    width: 10%;
}
.filbut{
    display: none;
}
.headInpRow{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin: 0,
}
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
         -webkit-appearance: none;
        }

input, textarea {
    caret-color: #CAFFEE;
    cursor: text;
}
.navpic{
    display: none;
}
.noList{
    list-style:none;
}
.recHeadInpList{
    align-items: center;
    display: flex;
    margin:0;
    width: 30%;
    padding: 0;
}
.recSave{
    display: block;
}
.recTitle{
    display:block;
    /*min-width: 10%;
    width: auto;
    max-width:50%;*/
    width:30%;
    position: absolute;
    left: 120px;
    background-color: #6353ac;
    border: none;
    border-radius: 15px;
    font-size:x-large;
    padding: 5px;
    border-width: 2px;
    font-weight:200;
    color: #CAFFEE;
    box-sizing: border-box;
}
.recTitle:focus{
    background-color: rgba(99, 83, 172, 0.6);
    outline: 1px ridge rgba(99, 83, 172, 0.9);
    border: 2px solid #078881;
}
.suchleiste{
    display: none;
}
.zubDauInp{
    background-color: #6353ac;
    border: none;
    border-radius: 5px;
    width: 12%;
    height: 12%;
    display: inline-flex;
    color:#Caffee;
    margin-left: 2%;
}
.zubDauInp:focus{
    background-color: rgba(99, 83, 172, 0.6);
    outline: 1px ridge rgba(99, 83, 172, 0.9);
    border: 2px solid #078881;
}
