.body {
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
}
.body::selection {
    background-color: #09aaa2;
}

.frstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

recName {
    -webkit-text-fill-color: #CAFFEE;
    position: relative;
    font-size: xx-large;
    margin-bottom: 0;
}

usr {
    color: #CAFFEE;
    position: relative;
    font-size: medium;
    margin-bottom: 0;
}

.scndLine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scndLinTxt {
    font-size: 16px;
    font-weight: bold;
}

.marginRight {
    margin-right: 3%;
}

.stars {
    width: 170px;
    margin-left: 1%;
}

.hr {
    color: #CAFFEE;
    border: 0.5px solid #caffee;
    border-radius: 5px;
}

.deskleft {
    width: 40%;
    float: left;
    border-radius: 5px;
    right: 0;
}

.deskright {
    width: 60%;
    float: right;
    border-radius: 5px;
    right: 0;
}

.menge {
    font-size: medium;
}

.mengeInp {
    background-color: rgba(71, 59, 123, 0.5);
    border-radius: 5px;
    border: #473B7B 2px solid;
    color: #caffee;
    width: 8%;
    font-size: mediuM;
}

.mengeInp:focus {
    background-color: rgba(71, 59, 123, 0.75);
    outline: 2px solid rgba(7, 136, 129, 1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.fixTable {
    margin-left: 2px;
    margin-right: 2px;
    width: 95%;
    border-radius: 5px;
    border: solid 2px #473B7B;
    background-color: rgba(71, 59, 123, 0.5);
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
}

.fixTable td {
    border: 2px solid #473B7B;
    padding: 2px;
}

.fixTable tr:nth-child(even) {
    background-color: rgba(71, 59, 123, 0.9);
    border-radius: 5px;
}

.last-row-left {
    border-bottom-left-radius: 5px;
}

.last-row-right {
    border-bottom-right-radius: 5px;
}

.fixTable tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.fixTable tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

krzInfo{
    background-color: rgba(71, 59, 123, 0.5);
    border:2px solid #473B7B;
    border-radius: 50px;
    padding: 4px;
    font-size:small;
}

.krzInfoRow{
    justify-content: space-between;
    display:flex;
    align-items:center;

}

lblMinis{
    background-color: rgba(71, 59, 123, 0.5);
    border:2px solid #473B7B;
    border-radius: 50px;
    padding: 4px;
    margin: 0.5%;
}

.miniLblsColumn{
    display: flex;
    flex-direction: column;
    max-width:95%;
}

.miniLblsRow{
    display: flex;
    flex-direction: row;
    font-size:small;
    justify-content: space-between;
}

.moreWidth {
    width: 85%;
}

.addRecToList {
    position: absolute;
    bottom: 2%;
    background-color: transparent;
    border-radius: 100%;
    border: #CAFFEE 2px;
    padding: 0;
    width: 55px;
    height: 55px;
    margin: 1%;
    display: block;
    z-index: 1001;
}

.addRecToList:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(71, 59, 123, 0.7);
}

.rightTitles {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}

.noMarginTop {
    margin-top: 0;
}

.blocksatz {
    text-align: justify;
    text-justify: inter-word;
}
.bold{
    font-weight: bold;
  }
.hidden{
    display: none;
}
.filbut{
    display: none;
}
.suchleiste{
    display: none;
}
.filIngPage {
    width: 70%;
    height: 70%;
    display:grid;
    grid-template-areas:
        'title title close'
        'tabelle addToList addToList'
        'tabelle addFinal addFinal';
    grid-template-columns: 2fr 0.5fr 0.5fr;
    grid-template-rows: 40px auto auto;
    gap: 10px;
    padding: 1.5%;
    position: fixed;
    top: 15%;
    left: 15%;
    border-radius: 5px;
    background-color: #078881;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(73, 68, 68, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filIngPage::selection {
    background-color: #09aaa2;
}
.dontAdd{
    color: #858585; /* Textfarbe auf Grau setzen */
    background-color: #f0f0f0; /* Heller grauer Hintergrund */
    filter: grayscale(100%); /* Filter für Grau-Skalierung */
    opacity: 0.8; /* Leicht transparente Darstellung */
}
.NextToings{
    grid-area: addToList;
}
.listsNextToings {
    display: flex;
    gap: 20px;
    background-color: #078881;
}
.listsNextToings.selected {
    background-color: #473B7B;
    cursor:pointer;
}
.closeButton {
    width: 30px;
    height: 30px;
    background-color: rgba(71, 59, 123, 0.25);
    border: 2px solid rgba(71, 59, 123, 0.5);
    border-radius: 5px;
    display: flex; /* Flexbox aktivieren */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
}

.closeButton:hover {
    border: 2px solid #078881;
    outline: #473B7B 1px solid;
}

.closeDiv {
    grid-area: close;
    display: flex; /* Aktiviert Flexbox */
    justify-content: flex-end; /* Schiebt den Button nach rechts */
    align-items: top; /* Zentriert vertikal */
    height: 40px;
}
.addIngToListUR{
    display: flex; /* Aktiviert Flexbox im Container */
    justify-content: flex-end; /* Platziert den Inhalt horizontal rechts */
    align-items: flex-end; /* Platziert den Inhalt vertikal unten */
    position: absolute; /* Absolute Positionierung */
    bottom: 15px; /* Abstand vom unteren Rand */
    right: 15px; /* Abstand vom rechten Rand */
}

.addToListFinal {
    grid-area: addFinal;
    width: 40px;
    height:60px;
    background-color: rgba(71, 59, 123, 0.25);
    border: 2px solid rgba(71, 59, 123, 0.5);
    border-radius: 5px;
    display: flex; /* Flexbox aktivieren */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
}

.addToListFinal:hover {
    border: 2px solid #078881;
    outline: #473B7B 1px solid;
}
addToListTitle{
    font-size: 20px;
    font-weight: bold;
    margin:0;
    grid-area:title;
}

.closeArea{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: -3;
    pointer-events: auto;
}
.responseAddListOk{
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    width: 30%;
    height: 5%;
    transform: translate(-50%, -50%);
    background-color: #078881;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}
.responseAddListNotOk{
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    width: 30%;
    height: 5%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

/* Haupttabelle */
.fixTable1 {
    grid-area: tabelle;
    margin: 0;
    border-radius: 5px; /* Abgerundete Ecken für einen weichen Look */
    border: solid 2px #6353ac; /* Neuer Border-Farbton für ein cooleres Aussehen */
    background: #473B7B; /* Farbverlauf für den Hintergrund */
    border-collapse: collapse;
    overflow:hidden;
    flex-direction: column;
    }


/* Tabellenzellen */
.fixTable1 td {
    border: 2px solid #6353ac; /* Angepasste Randfarbe */
    padding: 10px; /* Mehr Abstand für ein offeneres Layout */
    text-align: center;
    /*transition: background-color 0.3s ease, transform 0.2s ease; /* Sanfter Übergang bei Hover */
}

.fixTable1 td:hover {
    background-color: #078881; /* Kräftiger Hover-Effekt für Zellen */
}

/* Zeilen im Wechsel für ein modernes Design */
.fixTable1 tr:nth-child(even) {
    background-color: #6353ac; /* Leicht transparenter Hintergrund für gerade Zeilen */
}

.fixTable1 tr:nth-child(odd) {
    background-color: #473B7B; /* Transparenz für ungerade Zeilen */
}

/* Tabellenkopf */
.fixTable1 th {
    font-weight: bold;
    font-size: 22px; /* Etwas kleinere Schrift für den Kopfbereich */
    padding: 15px;
}

/* Stärkere Abgrenzung der letzten Zeile */
.fixTable1 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.fixTable1 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

/* Anpassung der Eingabefelder */
.ingamountinput {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    /*box-sizing: border-box;*/
}

.ingamountinput:focus {
    background-color: rgba(71,59,123,0.75); /* Sanfterer Hintergrund bei Fokus */
    outline: 2px solid rgba(7, 136, 129, 1); /* Entfernen des Standardrahmens */
}

.ingamountinput{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #caffee;
    font-size: 16px;
    border-radius: 5px;
}
.ingamountinput:focus {
    background-color: rgba(71, 59, 123, 0.75);
    outline: 2px solid rgba(7, 136, 129, 1);
}
.ingredientstablenotableview.focus{
    background-color: red;
}
verfList{
    font-size:20px;
    font-weight: bold;
}
listeErstellenBut{
    padding:10px;
    margin-right:10px;
}
#defaultListNew{
    border-radius: 5px;
    margin-bottom: 15px;
}
.listsNextToings{
    padding: 10px;
    border-radius: 5px;
    border:#6353ac 2px solid;
    background-color: rgba(99, 83, 172,0.25);
    margin-bottom: 5px;
}

.inputListNameNew{
    width: 100%;
    background-color: rgba(71, 59, 123, 0.25);
    border:#473B7B 2px solid;
    margin-bottom: 15px;
    color: #caffee;
    font-size: 16px;
    border-radius: 5px;
}
.inputListNameNew::placeholder{
    margin-right:5px;
    color:#caffee;
    opacity: 0.8;
}
.inputListNameNew:focus{
    border:#078881 2px solid;
    background-color: rgba(71, 59, 123, 0.75);
    outline: 1px solid rgba(71, 59, 123, 1);
}