.addRec{
    position: absolute;
    bottom: 2%;
    background-color: transparent;
    border-radius: 100%;
    border:#CAFFEE 2px;
    padding: 0;
    width:55px;
    height: 55px;
    margin:1%;
    display: block;
    z-index: 1001;
}
.addRec:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(71, 59, 123, 0.7);
}
body{
    background-color: #6353ac;
    padding: 0;
    font-family: Verdana, sans-serif;
    color:#CAFFEE;
    margin: 0;
}

.filbut{
    position: absolute;
    left: 351px;
    background-color: #473B7B;
    border-radius: 5px;
    border:#CAFFEE 2px;
    padding: 2px;
    width:6%;
    margin:5px;
    display: block;
}
.filbut:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(99, 83, 172, 0.6);
    background-color: rgba(99, 83, 172, 0.3);
}
:root {
    --select-border: #6353ac;
    --select-arrow: var(--select-border);
}
.filDropdown{
    border-radius:5px;
    width: 80%;
    border: 2px solid var(--select-border);
    padding: 1.5%;
    font-size:medium;
    color:#CAFFEE;
    cursor: pointer;
    background-color: #09aaa2;
}
.filDropdown:focus{
    background-color: rgba(99, 83, 172, 0.6);
    outline: 1px ridge rgba(99, 83, 172, 0.9);
}
.filGridInp{
    width: 80%;
    left: 120px;
    background-color:#09aaa2;
    border: 1px solid #6353ac;
    border-radius: 5px;
    margin-bottom:1.5%;
    padding: 5px;
    border-width: 2px;
    font-size:medium;
    -webkit-text-fill-color: #CAFFEE;
}
.filGridInp:focus{
    background-color: rgba(99, 83, 172, 0.6);
    outline: 1px ridge rgba(99, 83, 172, 0.9);
}
.filGridZubDauer{
    width:80%;
}
filHeader{
    font-size:x-large;
    font-weight: bold;
    width: 100%;
}
.filOptionPage{
    max-width: 45%;
    display: none;
    grid-template-areas:
    'filheader filheader'
    'art dauer'
    'excl incl';
    gap: 10px;
    padding: 1.5%;
    position:fixed;
    top:15%;
    left:15%;
    border-radius:5px;
    /*width:30%;*/
    background-color: #078881;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*padding: 10px;*/
}
.filGridHeader { grid-area: filheader; }
.filGridArtGericht { grid-area: art; }
.filGridZubDauer { grid-area: dauer; }
.filGridExclude { grid-area: excl; }
.filGridInclude { grid-area: incl; }
/*.filOptionItems{
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: medium;
  text-align: left;
}*/
.header{
    background-color: #473B7B;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 10%;
    margin: 0;
    box-shadow: 0px/*versch. x*/ 8px/*versch. y unten*/ 8px/*?*/ 0px/*zoom*/ rgb(85, 71, 148);
}
.hidden{
    display: none;
}
.hoLineSplitRight{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #CAFFEE;
    margin-top: 0;
}
input, textarea {
    caret-color: #CAFFEE;
    cursor: text;
}
.logo{
    position: absolute;
    left: 0;
    width: 80px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.navLinks li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    list-style:none;
}
.navLinks li{
    display:inline;
    padding: 0 20px;
}
.navLinks li a{
    transition:all 0.3s ease 0s;
}
.navLinks li a:hover{
    background-color: #078881;
    cursor: pointer;
}
.navpic{
    height: 58px;
    cursor:pointer;
    margin: 5px;
    padding:2px;
    background:none;
    border: none;
    border-radius: 5px;
}
.navpic2{
    height: 58px;
    cursor:pointer;
    margin: 5px;
    padding:2px;
    background:none;
    border: none;
    border-radius: 5px;
}
.navpic:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(99, 83, 172, 0.6);
    background-color: rgba(99, 83, 172, 0.3);
}
.recHeadInpList{
    display:none;
}
.recSave{
    display: none;
}
.recTitle{
    display:none;
}
.sliderZubDauer{
    cursor: pointer;
    width: 90%;
    height: 10%;
    background: #09aaa2;
    border-radius: 5px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.sliderZubDauer::-moz-range-thumb {
    height: 110%;
    background: #caffee;
    cursor: pointer;
    width: 10%;
    border: 2px solid rgba(99, 83, 172, 1);
}
.suchleiste{
    position: absolute;
    left: 120px;
    background-color: #6353ac;
    border: 1px solid #078881;
    border-radius: 50px;
    padding: 5px;
    border-width: 2px;
    font-size: medium;
    font-weight:200;
    -webkit-text-fill-color: #CAFFEE;
}
.suchleiste:focus{
    background-color: rgba(99, 83, 172, 0.6);
    outline: 1px ridge rgba(99, 83, 172, 0.9);
}
.split {
    height:86%;
    width: 25%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 0px;
}
.splitLeft {
    padding-left: 10px;
    /*float:left;*/
}
.splitRight {
    /*float:left;*/
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #078881;
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1.5s;
}
.splitRight.growing{
  width: 98.6%;
  margin-left: 0.7%;
  margin-right: 0.7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1.5s;
}
.splRiTxt {
  margin-left: 20px;
  margin-top: none;
  margin-bottom: none;
}
.tooltipCal {
    position: relative;
    display: inline-block;
}
.tooltipList {
    position: relative;
    display: inline-block;
}
.tooltipProfil {
    position: relative;
    display: inline-block;
}
.tooltipCal .tooltipCaltext {
    visibility: hidden;
    width:fit-content;
    background-color: #CAFFEE;
    color: #473B7B;
    font-size:smaller;
    text-align: center;
    border-radius: 5px;
    padding: 2%;
    position: absolute;
    z-index: 999;
    top: 150%;
    left: 50%;
    margin-left: -50px;
}
.tooltipList .tooltipListtext {
    visibility: hidden;
    width:fit-content;
    background-color: #CAFFEE;
    color: #473B7B;
    font-size:smaller;
    text-align: center;
    border-radius: 5px;
    padding: 2%;
    position: absolute;
    z-index: 999;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltipProfil .tooltipProfiltext {
    visibility: hidden;
    width:fit-content;
    background-color: #CAFFEE;
    color: #473B7B;
    font-size:smaller;
    text-align: center;
    border-radius: 5px;
    padding: 2%;
    position: absolute;
    z-index: 999;
    top: 150%;
    left: 50%;
    margin-left: -35px;
}
.tooltipCal .tooltipCaltext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #CAFFEE transparent;
}
.tooltipList .tooltipListtext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #CAFFEE transparent;
}
.tooltipProfil .tooltipProfiltext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #CAFFEE transparent;
}
.tooltipCal:hover .tooltipCaltext {
    visibility: visible;
}
.tooltipList:hover .tooltipListtext {
    visibility: visible;
}
.tooltipProfil:hover .tooltipProfiltext {
    visibility: visible;
}
usrnm{
    -webkit-text-fill-color: #CAFFEE; 
    font-weight: light;
    position: relative;
    top: -28px;
    font-size: medium;
}
/*.recsrow{
    flex-direction: row;
    border:#473B7B solid 2px;
    background-color: red;
    border-radius: 5px;
    margin: 4px;
    padding: 0;
}*/
.recsindex {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .recsindex td, .recsindex th {
    border: none;
    padding: 4px;
  }
  
  .recsindex tr:nth-child(even){background-color: rgba(71, 59, 123, 0.5);}
  
  .recsindex tr:hover {background-color: rgba(71, 59, 123, 0.9);}
  
  .recsindex th {
    border-color: none;
    text-align: left;
    color: #caffee;
  }
  .recsindex th:hover{
    background-color: #6353ac;
  }
  .recname{
    font-size:large;
    text-align: left;
    color: #caffee;
  }
  profileusrnm{
    display: none;
  }
  #accCreation{
    display: none;
  }
  .filterSearchButtonOk{
    background-color: #473B7B;
    border-radius: 5px;
    border:#CAFFEE 2px;
    padding: 2px;
    margin:5px;
    display: block;
  }
  /* .allrecs{
    
  } */
  .allrecsbuttob{
    background-color: #473B7B;
    border-radius: 5px;
    border:#CAFFEE 2px;
    padding: 2px;
    margin:5px;
    display: block;
  }