body{
    background-color: #6353ac;
    padding: 0;
    margin: 0;
    font-family: Verdana;
}
.hdivleft{
    height:70%;
    justify-content: flex-start;
}
.hdivright{
    height:70%;
    justify-content: flex-end;
}
.header{
    background-color: #473B7B;
    display:block 50%;
    display: flex;
    flex-direction: row;
    padding:10px;
    border-bottom: #CAFFEE;
}
.h1{
    color: #CAFFEE;
}
usrnm{
    -webkit-text-fill-color: #CAFFEE; 
    font-weight: light;
    align-self:center;
    font-size:small;
}