::-ms-input-placeholder {
    /* Edge 12-18 */
    color: #caffee;
    opacity: 0.75;
    font-family: Verdana, sans-serif;
    font-size: 3vw;
}

::placeholder {
    color: #caffee;
    opacity: 0.75;
    font-family: Verdana, sans-serif;
    font-size: 3vw;
}

.noList {
    list-style: none;
    margin: 0;
    padding: 1%;
    background-color: rgba(71, 59, 123, 0.5);
    border-radius: 1.5vw;
    border: solid 0.6vw #473B7B;
}

.headInpRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.zubDauInp {
    background-color: #6353ac;
    border: none;
    border-radius: 1.5vw;
    width: 20%;
    height: 2vh;
    display: inline-flex;
    color: #caffee;
    margin-left: 1%;
}

.zubDauInp:focus {
    background-color: rgba(99, 83, 172, 0.6);
    outline: 0.3vw ridge rgba(99, 83, 172, 0.9);
    border: 0.6vw solid #078881;
}

slidZubDaTxt {
    margin: 0.6vw;
    font-size: 4vw;
    background-color: none;
}

zubDaTitle {
    margin: 1.2vw;
    font-size: 4vw;
    background-color: none;
    font-weight: bold;
}

.aufwRange {
    width: 25%;
    background: #6353ac;
    border-radius: 1.5vw;
    outline: none;
}

.aufwRange {
    -webkit-appearance: none;
    /* Entfernt Standardstil in WebKit-basierten Browsern */
    appearance: none;
    width: 25%;
    background: #6353ac;
    border-radius: 1.5vw;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
}

.aufwRange::-webkit-slider-runnable-track {
    background: #6353ac;
    border-radius: 1.5vw;
}

.aufwRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Entfernt Standardstil in WebKit-basierten Browsern */
    appearance: none;
    height: 2.5vh;
    /* Angepasst für bessere Sichtbarkeit */
    background: #caffee;
    width: 3.6vw;
    /* Angepasst für bessere Sichtbarkeit */
    border: none;
    border-radius: 1.5vw;
}

.grchtArtBtn {
    width: 100%;
    background-color: rgba(71, 59, 123, 0.5);
    border-radius: 1.5vw;
    border: 0.6vw solid #473B7B;
    font-size: 3.5vw;
    color: #caffee;
    font-family: verdana, sans-serif;
    margin-top: 0.9vw;
}

.grchtArtBtn:focus {
    background-color: rgba(99, 83, 172, 0.6);
    outline: 0.3vw ridge rgba(99, 83, 172, 0.9);
    border: 0.6vw solid #078881;
}

.krzDesc {
    width: 100%;
    margin-top: 0.9vw;
    color: #caffee;
    border: none;
    border-radius: 1.5vw;
    border: #473B7B solid 0.6vw;
    background-color: rgba(71, 59, 123, 0.5);
    height: 8vh;
    font-family: Verdana, sans-serif;
    font-size: 3vw;
    resize: none;
    box-sizing: border-box;
}

.krzDesc:focus {
    background-color: rgba(99, 83, 172, 0.6);
    outline: 0.3vw ridge rgba(99, 83, 172, 0.9);
    border: 0.6vw solid #078881;
}

.zutAn {

    border-radius: 1.5vw;
    border: none;
    background-color: rgba(71, 59, 123, 0.5);
    padding: 0.6vw;
}

zutAn {
    display: inline;
    color: #caffee;
    size: small;
    font-size: 3.5vw;
}


.anzEinhInp {
    background-color: #6353ac;
    border: none;
    border-radius: 1.5vw;
    width: 18%;
    display: inline-flex;
    color: #caffee;
    font-size: 3vw;
}

.anzEinhInp:focus {
    background-color: rgba(71, 59, 123, 0.3);
    outline: 0.6vw solid rgba(7, 136, 129, 1);
}

.beinhTable {
    margin-top: 0.9vw;
    width: 100%;
    border-radius: 1.5vw;
    background-color: rgba(71, 59, 123, 0.5);
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
}

.beinhTable td,
.beinhTable th,
.beinhTable tr {
    border: none;
    padding: 0.6vw;
}

.beinhTable tr:nth-child(even) {
    background-color: rgba(71, 59, 123, 0.9);
    border-radius: 1.5vw;
}

.beinhTable tr:hover {
    background-color: rgba(7, 136, 129, 0.3);
}

.beinhTable th {
    font-size: 5vw;
    font-weight: bold;
    text-align: left;
    background-color: #078881;
    color: #caffee;
    line-height: 3vh;
}

.last-row-left {
    border-bottom-left-radius: 1.5vw;
}

.last-row-right {
    border-bottom-right-radius: 1.5vw;
}

/* top-left border-radius */
.beinhTable tr:first-child th:first-child {
    border-top-left-radius: 1.5vw;
}

/* top-right border-radius */
.beinhTable tr:first-child th:last-child {
    border-top-right-radius: 1.5vw;
}

.moreWidth {
    width: 60%;
}

.kindaMoreWidth {
    width: 20%;
}

.tableInp {
    margin-left: 0;
    box-sizing: border-box;
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: none;
    color: #caffee;
    font-family: Verdana, sans-serif;
    font-size: 3.5vw;
    padding: 1.2vw;
}

.tableInp:focus {
    border: none;
    outline: none;
}

.shoInfInp {
    border: #473B7B solid 0.6vw;
    width: 96%;
    color: #caffee;
    margin-top: 0.6vw;
    border-radius: 1.5vw;
    font-family: Verdana, sans-serif;
    font-size: 3vw;
    background-color: rgba(71, 59, 123, 0.5);
}

.shoInfInp:focus {
    background-color: rgba(71, 59, 123, 0.3);
    border: 0.6vw solid rgba(7, 136, 129, 1);
    outline: 0.3vw ridge rgba(71, 59, 123, 0.6);
}

.hidden {
    display: none;
}

.chooseBtn {
    border: #473B7B solid 0.6vw;
    background-color: rgba(71, 59, 123, 0.5);
    color: #caffee;
    margin-top: 0.9vw;
    border-radius: 1.5vw;
    padding: 1.8vw;
    margin-right: 0.9vw;
    font-size: 3.5vw;
}

.chooseBtn:focus {
    background-color: rgba(71, 59, 123, 0.75);
    outline: 2px solid rgba(7, 136, 129, 1);
}

.stepaddbtn {
    background-color: rgba(71, 59, 123, 0.5);
    border-radius: 1.5vw;
    border: #473B7B 0.6vw solid;
    color: #caffee;
    margin-top: 0.9vw;
    padding: 1.8vw;
    font-size: 3.5vw;
}

.stepaddbtn:focus {
    background-color: rgba(71, 59, 123, 0.75);
    outline: 0.6vw solid rgba(7, 136, 129, 1);
}

.vorgehen {
    border: #473B7B solid 0.6vw;
    width: 98%;
    margin-top: 0.9vw;
    color: #caffee;
    border-radius: 1.5vw;
    height: 100px;
    font-family: Verdana, sans-serif;
    font-size: 4vw;
    resize: none;
    background-color: rgba(71, 59, 123, 0.5);
}

.vorgehen:focus {
    background-color: rgba(71, 59, 123, 0.3);
    border: 0.6vw solid rgba(7, 136, 129, 1);
    outline: 0.3vw ridge rgba(71, 59, 123, 0.6);
}

.stepvorgehen {
    width: 98%;
    margin-top: 0.9vw;
    resize: none;
    background-color: rgba(71, 59, 123, 0.5);
    border-radius: 1.5vw;
    border: #473B7B 0.6vw solid;
    color: #caffee;
    font-family: Verdana, sans-serif;
    font-size: 4vw;
}

.stepvorgehen:focus {
    background-color: rgba(71, 59, 123, 0.3);
    border: 0.6vw solid rgba(7, 136, 129, 1);
    outline: 0.3vw ridge rgba(71, 59, 123, 0.6);
}

.row {
    display: flex;
    flex-direction: row;
}

.hundredWidth {
    width: 100%;
}

.charCount {
    text-align: right;
    font-size: small;
    margin-left: 0.5%;
    margin-right: 2.5%;
    top: 195px;
    color: #caffee;
    position: absolute;
    z-index: 1;
    right: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recTitle {
    display: block;
    width: 50%;
    position: absolute;
    left: 14vw;
    background-color: #6353ac;
    border: none;
    border-radius: 4.5vw;
    font-size: 5vw;
    padding: 1.5vw;
    border-width: 0.6vw;
    font-weight: 200;
    color: #caffee;
    box-sizing: border-box;
    margin-left: 3%;
    z-index: 0;
}

.recTitle:focus {
    background-color: rgba(99, 83, 172, 0.6);
    outline: 0.3vw ridge rgba(99, 83, 172, 0.9);
    border: 0.6vw solid #078881;
}

.recSave {
    display: block;
    background-color: #6353ac;
    border-radius: 1.5vw;
    border: none;
    color: #caffee;
    padding: 1.2vw;
    font-size: 3vw;
    position: absolute;
    left: 82%;
    z-index: 0;
}

.recSave:focus {
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(7, 136, 129, 1);
    background-color: rgba(99, 83, 172, 0.3);
}

.suchleiste {
    display: none;
}

.filbut {
    display: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(71, 59, 123, 0.3);
    /* Not removed via appearance */
    width: 12px;
    height: 12px;
    color: #078881;
    margin: 0.9vw;
    border: 0.6vw solid #473B7B;
    border-radius: 0.6vw;
    display: inline-grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 12px;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: #caffee;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(0.6vw, 0.15em) solid #078881;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled { 
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.addZutBtn {
    background-color: rgba(71, 59, 123, 0.5);
    border-radius: 1.5vw;
    border: #473B7B 0.6vw solid;
    color: #caffee;
    margin-left: 1.2vw;
    padding: 1.8vw;
    font-size: 3.5vw;
}

.addZutBtn:focus {
    background-color: rgba(71, 59, 123, 0.75);
    outline: 0.6vw solid rgba(7, 136, 129, 1);
}
.addInfoBtn {
    background-color: rgba(71, 59, 123, 0.5);
    border-radius: 1.5vw;
    border: #473B7B 0.6vw solid;
    color: #caffee;
    margin-left: 1.2vw;
    margin-top: 0.6vw;
    padding: 1.8vw;
    font-size: 3.5vw;
}

.addInfoBtn:focus {
    background-color: rgba(71, 59, 123, 0.75);
    outline: 0.6vw solid rgba(7, 136, 129, 1);
}
.inline {
    display: flex;
    margin-top: 0.6vw;
}

tagTitle {
    margin-left: 1.2vw;
    margin: top 12px bottom 12px;
    font-size: large;
    background-color: none;
    font-weight: bold;
}
.usrnm-mobile{
    display: none;
}