body {
    background-color: #6353ac;
    padding: 0;
    font-family: Verdana, sans-serif;
    color: #CAFFEE;
    margin: 0;
}

.header {
    background-color: #473B7B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 0;
    box-shadow: 0px
        /*versch. x*/
        8px
        /*versch. y unten*/
        8px
        /*?*/
        0px
        /*zoom*/
        rgb(85, 71, 148);
}

.logo {
    height: 60px;
    margin: 1%;
}

.suchleiste{
    background-color: #6353ac;
    border: 1px solid #078881;
    border-radius: 50px;
    padding: 2%;
    border-width: 2px;
    font-size: medium;
    font-weight:200;
    color: #CAFFEE;
    width: 50%;
}
.suchleiste:focus{
    background-color: rgba(99, 83, 172, 0.6);
    outline: 1px ridge rgba(99, 83, 172, 0.9);
}
.filbut{
    background-color: transparent;
    border:none;
    border-radius: 5px;
    padding: 2px;
    width:10%;
    margin:5px;
    display: block;
}
.filbut:focus{
    box-shadow: 0 0 2px 1px rgba(99, 83, 172, 0.6);
    background-color: rgba(99, 83, 172, 0.3);
}
.recTitle {
    display: none;
}

.recSave {
    display: none;
}