body{
    font-family: Verdana, sans-serif;
}
input, textarea {
    caret-color: #CAFFEE;
    cursor: text;
}

.swipeArea{
    height:100vh;
    width:100%;
    z-index:100;
}
.addRec{
    display:flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 8vh;
    background-color: transparent;
    border-radius: 100%;
    border:#CAFFEE 2px;
    padding: 0;
    width:98%;
    height: 55px;
    margin:1%;
    z-index: 1001;
}
.padding{
    padding:1%;
    height:100vh;
}
.hr{
    border: 1px solid #CAFFEE;
    margin-top: 0;
    margin-left: 2%;
    margin-right:2%;
}
.splRiTitle{
    margin-bottom: 5px;
    margin-left:2.5%;
    font-size: x-large;
    font-weight: bold;
}
.turkis {
  margin: 1%;
  padding:1%;
  border: none;
  border-radius: 5px;
  background-color: #078881;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bildschirmgroesse{
width: 100%;
height: 100vh;
}
