input, textarea {
    caret-color: #CAFFEE;
    cursor: text;
}
.leftDiv{
    background-color:none;
    padding:0;
    display:block;
    box-sizing: border-box;
    z-index: -1;
}
.swipeArea{
    height:600px;
    width: 100%;
    z-index:100;
    background-color: orange;
    z-index: 1;
}