.responseAddListOk{
    background-color: var(--special);
    border-radius: var(--borderRadius);
    padding: 10px;
}
.filter{
    background-color: var(--contrastBuddy);
    border-radius: var(--borderRadius);
    padding: 5px 10px;
    width: 50%;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    height: 8px;  
    background: var(--contrastMain);
    border-radius: var(--borderRadius);
    outline: none;  
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;  
    appearance: none; 
    width: 20px;
    height: 20px;
    background: var(--special);
    border-radius: 50%;  
    cursor: pointer;
  }
  

  /* Container für das Dropdown */
select {
    -webkit-appearance: none;  
    appearance: none;  
    width: 100%;  
    padding: 5px 10px;  
    border-radius: var(--borderRadius);
    border: var(--borderMain);  
    background-color: var(--contrastBuddy);
    color: var(--light); 
    cursor: pointer; 
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }

  select:focus {
    border-color: var(--special); ;  
    outline: none;
  }
  
  select::-ms-expand {
    display: none;  
  }
  
  option {
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-size: 14px;
  }
  
  option:hover {
    background-color: var(--light); 
    color: var(--contrastMain);
    border-radius: var(--borderRadius);
  }
  
  select[multiple] {
    height: auto;
    overflow-y: none;
  }
  
  select[multiple] option {
    padding: 5px;
  }
  
  select[multiple]:focus {
    border-color: var(--contrastMain);  
  }
  select[multiple]::-webkit-scrollbar {
    display: none;  
  }
  .sliderText{
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--light);
  }
  option:checked {
    background-color: var(--contrastMain);
    color: var(--light);
    border-radius: var(--borderRadius);
  }
  .verticalLine{
    border-left: 2px solid var(--contrastMain);
    margin-right:2%;
  }
  button{
    background-color: var(--special);
    border-radius: var(--borderRadius);
    border: none;
    outline: none;
    padding: 5px 10px;
    color: var(--light);
    font-family: "Be Vietnam Pro", serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .stars{
    width: 7.4vw;
  }
  recUser{
    font-style: italic;
    font-size: small;;
  }
  tableTitle{
    font-weight:bold;
  }
 table{
  table-layout: auto;
  border-collapse:collapse;
  
  border-radius: var(--borderRadius);
 }
 .spaceEvenly{
  display: flex;
  justify-content: space-evenly;
 }
.res{
  display: flex;
  flex-direction: column;
  height: 86vh;
  width: 75vw;
  padding: 0 10px;
  margin: 10px;
}
.li{
  position:relative;
  width: 20vw;
  height: 84vh;
  padding: 10px;
  background-color: var(--contrastBuddy);
  right:0;
  margin: 10px;
  border-radius: var(--borderRadius);
}
.li hr{
  border-top: var(--borderLight);

}
.noMargin{
  margin: 0;	
}

td {
  padding: 12px 15px;
  text-align: left;
  vertical-align: middle;
}

recname {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--contrastBuddy);
}

tr:nth-child(odd) {
  background-color: var(--contrastMain);
}

th:first-child, td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

th:last-child, td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
tr:hover {
  transform: scale(1.05);
  background-color: var(--special);
  cursor: pointer;
  
}
tr:first-child:hover{
  background-color: var(--contrastMain);
}

.schnellFilterImg{
  width: 5vw;
}


/* Container für die Buttons, der verschoben wird */
#buttonWrapper {
  display: flex;
  padding: 10px 0;
  width: 90%;
  transition: transform 0.3s ease; /* Sanfter Übergang für die Verschiebung */
  overflow:hidden;
  margin: 4vh 0;
  justify-content: flex-start;
}



/* Styling für die Buttons */
.schnellFilter {
  background-color: transparent;
  border-right: 4px solid var(--contrastMain);
  min-width: 10vw;
  border-radius: 0;
  background-color: var(--contrastBuddy);
  transition: transform 0.3s ease; /* Vergrößerung beim Hover */
  cursor: pointer;
}

.schnellFilter:hover {
  border: transparent;
  transform: scale(1.1); 
  background-color: var(--special);
}

/* Styling für die Bilder der Buttons */
.schnellFilterImg {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 5px;
}

/* Styling für den Text */
.schnellFilter span {
  font-size: 14px;
  text-align: center;
  word-wrap: break-word;
}
.actionImg{
  width: 6vw;
}
.action{
  background-color:var(--contrastMain);
  bottom: 0;
}
.action:hover{
  background-color:var(--special);
  cursor:pointer;
  transition: transform 0.3s ease; 
}
.arrow{
  height: 100%;
  background-color: transparent;
}
.arrow:hover{
  cursor:pointer;
  transform: scale(1.1);
  z-index: 10;
}

.actionBalken{
  margin-top: 10vh;
  background-color: red;
}