<!--<link rel="stylesheet" href="/css/v1/recipedesktop.css">-->
<div id="recipeData" style="display: none;">
    <%= rec %>
</div>
<div id="recmarked" style="display: none;">
    <%= marked %>
</div>
<div class="responseAddListOk" id="responseAddListOk">
    Hier steht ein toller text, der sagt, dass alles f hat
</div>
<div class="responseAddListNotOk" id="responseAddListNotOk">
    Hier steht ein toller text, der sagt, dass es nicht funktioneirt hat
</div>
<!-- begin Ingridient add page-->
<div class="filIngPage" id="filIngPage">
    <addToListTitle>Wähle die Menge und die Zutaten aus, die du zu Listen hinzufügen möchtest
    </addToListTitle>
    <table class="fixTable1" id="fixTable1"></table>

    <div class="NextToings" id="nextToingsoverall">
        <verfList>Verfügbare Listen:</verfList>
        <div id="defaultListNew" class="listsNextToings selected" onclick="toggleSelectionLists(this)">
            <listeErstellenBut>Neue Liste erstellen</listeErstellenBut>
        </div>
        <div><input type="text" placeholder="Liste benennen" class="inputListNameNew" id="inputListNameNew"></div>
    </div>
    <div class="closeDiv"><button class="closeButton" onclick="addToAnyListClose()">
        <img width="30px" src="/img/x.png" alt="Listenbearbeitung schließen">
    </button></div>
    <div class="addIngToListUR"><button class="addToListFinal" onclick="addToListFinal()">
        <img width="30px" src="/img/weiter.png" alt="Bestätige die Änderungen">
    </button></div>
</div>
<!-- end ingredient add page-->

<div class="body">
    <div class="top">
    
        <div class="frstLine">
            <recName id="recName"></recName>
            <usr id="userAndDate"></usr>
        </div>
        <div class="scndLine">
            <p class="scndLinTxt marginRight">Zubereitungsdauer: <span id="duration"></span> Minuten</p>
            <p class="scndLinTxt">Schwierigkeitsgrad:</p>
            <img class="stars" src="/img/3star.png" alt="3 von 5" id="difficulty" />
        </div>
    </div>
    <hr class="hr">
    <div>
        <div class="deskleft">
            <p class="menge" id="countforenh"></p>
            <table class="fixTable" id="fixTable"></table>
            <div class="miniLblsColumn">
                <div class="miniLblsRow">
                    <lblMinis class="hidden" id="miniLbl1"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl2"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl3"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl4"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl5"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl6"></lblMinis>
                </div>
                <div class="miniLblsRow">
                    <lblMinis class="hidden" id="miniLbl7"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl8"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl9"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl10"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl11"></lblMinis>
                    <lblMinis class="hidden" id="miniLbl12"></lblMinis>
                </div>
            </div>
            <button id="addRecToList" class="recActionBtns" onclick="addToAnyList()">
                <img src="/img/plus.png" alt="Füge Rezepte hinzu" width="55px">
            </button>
            <button id="saveRec" class="recActionBtns" onclick="achtungDieseFunktionHatSchonEineFunktionInRECIPEJSAberhierFehltnochwas()">
                <img src="/img/nadel.png" alt="Speichere das Rezept" width="55px">
            </button>
        </div>
        <div class="deskright">
            <div class="krzInfoRow">
                <krzInfo class="hidden" id="krzInf1"></krzInfo>
                <krzInfo class="hidden" id="krzInf2"></krzInfo>
                <krzInfo class="hidden" id="krzInf3"></krzInfo>
                <krzInfo class="hidden" id="krzInf4"></krzInfo>
                <krzInfo class="hidden" id="krzInf5"></krzInfo>
            </div>
            <p class="rightTitles">Kurzbeschreibung:</p>
            <p class="noMarginTop blocksatz" id="description"></p>
            <p class="rightTitles">Vorgehen:</p>
            <p class="noMarginTop blocksatz" id="directions"></p>
        </div>
    </div>

</div>