<div class="swipeArea leftDiv" id="swipeArea">
    <h3 class="h">This Website is in development.</h3>
    <h4 class="h">This development is in Website.</h4>
</div>
<button id="addRec" class="addRec" onclick="buttaddrec()">
    <img src = "/img/addrec.png" alt="Füge Rezepte hinzu" width="20%">
</button>
