<div class="padding" id="swipeArea">
    <div class="turkis">
    <p class="splRiTitle">Text SplitRight</p>
    <hr class="hr">
    <ul class="splRiListTxt">
        <li>Auch Text</li>
        <li>Hier</li>
        <li>Wieauchimmer</li>
        <li>man das mit dem</li>
        <li>Adden umsetzt...</li>
    </ul></div>
</div>
<script src="/js/mobile/home.js"></script>